<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", required: false)

    <link rel="shortcut icon" href="~/flagimg1.ico" type="image/x-icon" />
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/stellarnav.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
    <link href="~/css/owl.carousel.css" rel="stylesheet">
    <link href="~/css/owl.theme.default.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    @*<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">*@
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
</head>

<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-7">
                    <div class="logo">
                        <a href="#"><img src="~/images/logo.png"></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-12">

                </div>
                <div class="col-lg-2 col-md-2 col-5">
                    @*@if (Session["UserName"] != null)
                        {
                            <div>
                                <a id="lnkLogOut" class="btn btn-warning" href="@Url.Action("Login", "Home")"> Log Out</a>
                            </div>
                        }*@
                    <ul class="topright">

                        <li>
                            <div class="dropdown admin">
                                <button class="button log"><span><img src="~/images/questionmark.png" style="width:19px;" /></span></button>
                                <div class="dropdown-content">
                                    <a href='@Url.Action("Index", "Help")'>Help</a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="dropdown admin">
                                <button class="button log"><span><img src="~/images/user.png" style="width:19px;" /></span></button>
                                <div class="dropdown-content">
                                    <h3>@Session["UserCode"].ToString() <span> @Session["Role"].ToString()</span></h3>
                                    @*<a href="@Url.Action("Login", "Home")">Log Off</a>*@
                                    <a style="color: Highlight;" href="@Url.Action("Login", "Home")" onclick="alert('You are successfully logged off');">Log Off</a>
                                </div>
                            </div>
                        </li>
                        <li>

                            <div class="menu_icon" onclick="openNav()">
                                <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
                            </div>
                        </li>
                    </ul>

                    @*<div>
                            <button type="button" class="btn btn-warning">Log Off</button>
                        </div>*@
                </div>
            </div>
        </div>
    </header>
    <div class="breadcrumbs">
        <div class="steps steps_animation">
            <!-- #region Breadcrumb -->
            @Html.Raw(Html.BuildBreadcrumbNavigation())
            <!-- #endregion -->
            @*<div class="steps_item">
                <span class="steps_content">
                    <a href="#"> Home</a>
                </span>
            </div>
        <div class="steps_item">
            <span class="steps_content">
                Inner Page1
            </span>
        </div>*@

            @**************Added on 19th jun 2021************************@
            <div class="search">
                @*<input id="txtAllSearctText" type="text" class="searchTerm" placeholder="Search....">
                <a id="lnkAllSearch" class="btn btn-primary" href="#"> <i class="fa fa-search"></i></a>*@
                <select id="drpVolume" class="form-control form-control-sm mr-3 w-25" style="margin-left:5px;">
                    <option value="-1" selected>Select</option>
                    <option value="PPM;C2A">Procurement Policy Manual</option>
                    <option value="CGS;C2A">TCC Cyber Guidance (Shipboard)</option>
                    <option value="GCGS;C2A">TCC Group Cyber Guidance (Shore)</option>
                    <option value="OMP;C2A">Outbreak Management Plan-COVID19</option>
                    <option value="TOM;C2A">Tanker Operation Manual</option>
                    <option value="PCMP;C2A">Pest Control Management Plan</option>
                    <option value="EMSM;C2A">EMS Manual</option>
                    <option value="MM;C2A">Manning manual</option>
                    <option value="CEM;C2A">Carbon Emissions Monitoring Manual</option>
                </select>
                <input id="txtAllSearctText" type="text" class="searchTerm" placeholder="Search....">
                <a id="lnkAllSearch" class="btn btn-primary" href="#"> <i class="fa fa-search"></i></a>
            </div>
        </div>
    </div>

    <section class="full_body">


        <div class="container body-content volumeleftbody">
            @RenderBody()

            <!--<footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>-->
        </div>


        <div id="mySidebar" class="sidebar volume">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <div class="menu_panel">
                <div class="menu">
                    @Html.Action("MenuLayout", "Home")

                    @*--remove the quoted condition ' || Session["Role"].ToString() == "ShipAdmin"' on 2nd May 2021 AS-----*@

                    @if (Session["Role"].ToString() == "OfficeAdmin" || Session["Role"].ToString() == "SupportUser")
                    {
                        <div> &nbsp;</div>

                        <ul>

                            <li class="mainmenu">
                                <a href='@Url.Action("AdminDashboard", "Dashboard")'>
                                    @*<span class="vul"> </span><span class="pgnam">Admin Dashboard</span>*@
                                    <span class="vul"><b>Admin Dashboard</b> </span>
                                </a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </div>

    </section>



    <div class="container body-content">
        <div class="footer">
            <div>&nbsp; &nbsp; &nbsp;</div>
            <ul>
                @*<li disabled><strong>Uncontrolled when printed</strong></li>*@
                <li>Revision 0.0</li>
                <li>Date:01-May -21</li>
                <li><a href="@Url.Action("RevisionDetails", "RevisionHistory")">View Revision Histroy</a></li>
            </ul>
            <div>&nbsp; &nbsp; &nbsp;</div>
        </div>
    </div>


    @Html.Partial("_pvSearchAlertModal")



    @*<script src="~/Scripts/jquery-3.5.1.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script>
    /* function openNav() {
            document.getElementById("mySidebar").style.width = "500px";
            document.getElementById("main").style.marginLeft = "500px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }*/


      /* $(".menu_icon").click(function () {
           $(".sidebar").toggle("slow");


        });
        */

        $(document).ready(function () {
            $(".menu_icon").click(function () {
                $(".sidebar").toggleClass("sidebarf");
            });
        });
    </script>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
    @*<script src="~/Scripts/jquery-3.5.1.min.js"></script>*@
    <script src="~/Scripts/bootstrap.js"></script>
    <script>
        $(function () {
            $('#txtAllSearctText').change(function () {
                if ($(this).val() != "") {
                    $("#lnkAllSearch").attr("href", $("#lnkAllSearch").attr("href") + "?currentPage=1&text=" + $(this).val());
                }

            });
            $('#txtAllSearctText').keypress(function (event) {
                var keycode = (event.keycode ? event.keyCode : event.which);
                if (keycode == '13') {
                     if ($('#txtAllSearctText').val() == '') {
                        //alert('You cannot search with a blank string');
                        //$('#searchAlertModal').toggleClass('hidden');
                        $('#searchAlertModal').modal('show');
                    }
                    else {
                         //window.location.href = '@Url.Action("SearchList","Manual")?s=' + $('#txtAllSearctText').val();
                         //window.location.href = '@Url.Action("SearchList","Manual")?s=' + $('#txtAllSearctText').val() + '&vol=' + $("#drpVolume option:selected").val();
                          window.location.href = '@Url.Action("SearchList","Manual")?s=' + $('#txtAllSearctText').val() + '&cat=' + $("#drpVolume option:selected").val();

                     }
                }
                //if ($(this).val() != "") {
                //    $("#lnkAllSearch").attr("href", $("#lnkAllSearch").attr("href") + "?currentPage=1&text=" + $(this).val());
                //}

            })
        });
        $(document).ready(function () {

            $('#menuicon').click(function () {
                $('#menu_sec').toggleClass('hidden');
                $('.content_body').toggleClass('wdth_chn');
                $('#menuicon').toggleClass('show');

            });

            $('#lnkAllSearch').click(function () {

                console.log($('#txtAllSearctText').val());
                if ($('#txtAllSearctText').val() == '') {
                    //alert('You cannot search with a blank string');
                    //$('#searchAlertModal').toggleClass('hidden');
                    $('#searchAlertModal').modal('show');
                }
                else {
                   // window.location.href = '@Url.Action("SearchList","Manual")?s=' + $('#txtAllSearctText').val();
                    //window.location.href = '@Url.Action("SearchList","Manual")?s=' + $('#txtAllSearctText').val() + '&vol=' + $("#drpVolume option:selected").val();
                     window.location.href = '@Url.Action("SearchList","Manual")?s=' + $('#txtAllSearctText').val() + '&cat=' + $("#drpVolume option:selected").val();
                }
            });
        });
    </script>

</body>

</html>