<!-- Modal -->
@Html.Hidden("urlApproverUserPosition", @Url.Action("GetAllApproverUserPositionForDropDown", "Approver"))
@Html.Hidden("urlApproverUser", @Url.Action("GetApproverUserByApproverUserId", "Approver"))
@Html.Hidden("urlReviewedFormForApproval", @Url.Action("UploadFilledUpReviewedFormForApproval", "Forms"))
<div class="modal fade" id="reviewedFilledUpFormModal" role="dialog">
    <div class="modal-dialog modal-lg ">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color: #e90000;">
                <h4 class="modal-title colorWhite">Upload Reviewed Form For Approval</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="ClearFields3();">&times;</button>
            </div>


            <div class="modal-body">
                @*<form>*@
                <div class="form-group">
                    <input type="hidden" id="hdnFilledUpFormID" />
                    <input type="hidden" id="hdnOriginalFormName" value="" />
                    <input type="hidden" id="hdnFormsCategory" value="" />
                    <input type="hidden" id="hdnTask" value="A" />
                </div>
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="">
                                <div class="col-sm-12 col-xs-12 marginTP10">
                                    <div class="row">

                                        <div class="col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label for="ReviewdForm">Reviewed Form : </label>
                                                <label id="lblReviewedForm" for="ReviewdForm"></label>
                                                <input id="txtReviewedForm" type="hidden" style="width:600px !important" value="" disabled />
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-sm-12 col-xs-12 marginTP10">
                                    <div class="row">

                                        <div class="col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                @*<label for="Approver">Approver</label>*@
                                                <select id="ddlApproverUser" name="ApproverUserList" class="form-control"></select>
                                                @*<select>
                                                        <option value="0">Select Approver</option>
                                                        <option value="1">Marine Superintendent</option>
                                                        <option value="2">Technical Superintendent</option>
                                                        <option value="3">Fleet Manager</option>
                                                        <option value="4">General Manager</option>
                                                        <option value="5">Technical Manager</option>
                                                        <option value="6">Director</option>
                                                    </select>*@
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div id="divTempApprover" class="col-sm-12 col-xs-12 marginTP10 marginLFT5 displayNone">
                                    <div class="row">
                                        <div class="card marginTP10 marginBTM10">
                                            <div class="card-header">
                                                <input type="hidden" id="hdnApproversCount" />
                                                <label>Temp Approver List</label>
                                            </div>
                                            <div class="card-body">
                                                <div style="margin:0 auto" class="tablecontainer">
                                                    <table id="tempApproverTable" class="display" cellspacing="0">
                                                        <thead>
                                                            <tr>
                                                                <th>SL</th>
                                                                <th>Designation</th>
                                                                <th>Approver Name</th>
                                                                <th>Delete</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                @*</form>*@

            </div>


            <div class="modal-footer" style="background-color:lightgray;">
                <button type="button" class="btn btn-info btn-sm" style="background-color: #e90000; width:138px;" id="btnAdd" onclick="return UploadReviewedFilledUpFormWithApprovers();">Upload</button>
                <button type="button" class="btn btn-info btn-sm" style="background-color: #e90000;" data-dismiss="modal" onclick="ClearFields3();">Close</button>
            </div>
        </div>

    </div>
</div>
