<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", required: false)
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/stellarnav.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
    <link href="~/css/owl.carousel.css" rel="stylesheet">
    <link href="~/css/owl.theme.default.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="logo">
                        <a href="#"><img src="~/images/logo.png"></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-12">
                    <div class="search">
                        <input type="text" class="searchTerm" placeholder="Search....">
                        <button type="submit" class="searchButton">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-12">
                    <div class="menu_icon" class="openbtn" onclick="openNav()">
                        <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="breadcrumbs">
        <div class="steps steps_animation">
            <div class="steps_item">
                <span class="steps_content">
                    <a href="#"> Home</a>
                </span>
            </div>
            <div class="steps_item">
                <span class="steps_content">
                    Inner Page1
                </span>
            </div>
        </div>
    </div>

    <section class="full_body">


        <div class="container body-content">
            @RenderBody()
            <hr />
            <!--<footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>-->
        </div>


        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <div class="menu_panel">
                <div class="menu">
                    <ul>


                        @*<li class="mainmenu">
                            <a href="#">
                                <span class="vul">Volume <b>I</b> </span><span class="pgnam">Political Manual</span>
                            </a>
                            <ul class="submenu">
                                <li>
                                    <a href="#">
                                        <span class="vul">Volume <b>I</b> </span><span class="pgnam" style="background-color:salmon;">Political Manual</span>
                                    </a>
                                </li>
                            </ul>
                        </li>*@


                        <li class="mainmenu">
                            <a href='@Url.Action("Index", "CompanyPolicyManual")'>
                                <span class="vul">Volume <b>I</b> </span><span class="pgnam">Company Policy Manual</span>
                            </a>
                            <ul class="submenu">
                                <li>
                                    <a href='@Url.Action("Manual", "CompanyPolicyManual")'>
                                        <span class="vul">Volume <b>I</b> </span><span class="pgnam" style="background-color:salmon;"> Manual</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Introduction", "CompanyPolicyManual")'>
                                        <span class="vul">Volume <b>I</b> </span><span class="pgnam" style="background-color:salmon;"> Introduction</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Definition", "CompanyPolicyManual")'>
                                        <span class="vul">Volume <b>I</b> </span><span class="pgnam" style="background-color:salmon;"> Definition</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SMS", "CompanyPolicyManual")'>
                                        <span class="vul">Volume <b>I</b> </span><span class="pgnam" style="background-color:salmon;"> SMS</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SFA", "CompanyPolicyManual")'>
                                        <span class="vul">Volume <b>I</b> </span><span class="pgnam" style="background-color:salmon;"> SFA</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SEPP", "CompanyPolicyManual")'>
                                        <span class="vul">Volume <b>I</b> </span><span class="pgnam" style="background-color:salmon;"> SEPP</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("MRA", "CompanyPolicyManual")'>
                                        <span class="vul">Volume <b>I</b> </span><span class="pgnam" style="background-color:salmon;"> MRA</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("ResourcesAndPersonnel", "CompanyPolicyManual")'>
                                        <span class="vul">Volume <b>I</b> </span><span class="pgnam" style="background-color:salmon;"> Resources And Personnel</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("PSO", "CompanyPolicyManual")'>
                                        <span class="vul">Volume <b>I</b> </span><span class="pgnam" style="background-color:salmon;"> PSO</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("CNCCA", "CompanyPolicyManual")'>
                                        <span class="vul">Volume <b>I</b> </span><span class="pgnam" style="background-color:salmon;"> CNCCA</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("MSE", "CompanyPolicyManual")'>
                                        <span class="vul">Volume <b>I</b> </span><span class="pgnam" style="background-color:salmon;"> MSE</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("DDC", "CompanyPolicyManual")'>
                                        <span class="vul">Volume <b>I</b> </span><span class="pgnam" style="background-color:salmon;"> DDC</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("ISEPA", "CompanyPolicyManual")'>
                                        <span class="vul">Volume <b>I</b> </span><span class="pgnam" style="background-color:salmon;"> ISEPA</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="mainmenu">
                            <a href='@Url.Action("Index", "CompanyProceduresManual")'>
                                <span class="vul">Volume <b>II</b> </span><span class="pgnam"> Procedures Manual </span>
                            </a>
                            <ul class="submenu">
                                <li>
                                    <a href='@Url.Action("Manual", "CompanyProceduresManual")'>
                                        <span class="vul">Volume <b>II</b> </span><span class="pgnam" style="background-color:salmon;"> Manual</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("ProceduresExplained", "CompanyProceduresManual")'>
                                        <span class="vul">Volume <b>II</b> </span><span class="pgnam" style="background-color:salmon;"> ProceduresExplained</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SEP", "CompanyProceduresManual")'>
                                        <span class="vul">Volume <b>II</b> </span><span class="pgnam" style="background-color:salmon;"> SEP</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("MRA", "CompanyProceduresManual")'>
                                        <span class="vul">Volume <b>II</b> </span><span class="pgnam" style="background-color:salmon;"> MRA</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("DesignatedPerson", "CompanyProceduresManual")'>
                                        <span class="vul">Volume <b>II</b> </span><span class="pgnam" style="background-color:salmon;"> Designated Person</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("MastersRA", "CompanyProceduresManual")'>
                                        <span class="vul">Volume <b>II</b> </span><span class="pgnam" style="background-color:salmon;"> MastersRA</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("HRT", "CompanyProceduresManual")'>
                                        <span class="vul">Volume <b>II</b> </span><span class="pgnam" style="background-color:salmon;"> HRT</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("PSO", "CompanyProceduresManual")'>
                                        <span class="vul">Volume <b>II</b> </span><span class="pgnam" style="background-color:salmon;"> PSO</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("CCP", "CompanyProceduresManual")'>
                                        <span class="vul">Volume <b>II</b> </span><span class="pgnam" style="background-color:salmon;"> CCP</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("NCCA", "CompanyProceduresManual")'>
                                        <span class="vul">Volume <b>II</b> </span><span class="pgnam" style="background-color:salmon;"> NCCA</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("MIT", "CompanyProceduresManual")'>
                                        <span class="vul">Volume <b>II</b> </span><span class="pgnam" style="background-color:salmon;"> MIT</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("DDC", "CompanyProceduresManual")'>
                                        <span class="vul">Volume <b>II</b> </span><span class="pgnam" style="background-color:salmon;"> DDC</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("ISEPA", "CompanyProceduresManual")'>
                                        <span class="vul">Volume <b>II</b> </span><span class="pgnam" style="background-color:salmon;"> ISEPA</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("DAP", "CompanyProceduresManual")'>
                                        <span class="vul">Volume <b>II</b> </span><span class="pgnam" style="background-color:salmon;"> DAP</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="mainmenu">
                            <a href='@Url.Action("Index", "CompanyResponsibilityAndAuthorityManual")'>
                                <span class="vul">Volume <b>III</b> </span><span class="pgnam">Company Responsibilities &amp; Authority </span>
                            </a>
                            <ul class="submenu">
                                <li>
                                    <a href='@Url.Action("Manual", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Manual</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SOOJD", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> SOOJD</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SOC", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> SOC</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SPR", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> SPR</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("DesignatedPerson", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> DesignatedPerson</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("ShipboardOrganisation", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> ShipboardOrganisation</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Appraisal", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Appraisal</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Promotion", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Promotion</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SOOC", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> SOOC</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("HandOver", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> HandOver</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SMC", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> SMC</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("WRH", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> WRH</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("WSR", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> WSR</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("ODG", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> ODG</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("CDMP", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> CDMP</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("DrugAndAlcohol", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Drug And Alcohol</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("ShipboardMedical", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Ship board Medical</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("DeathOnboard", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Death Onboard</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("PBS", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> PBS</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("DressCode", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Dress Code</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("CrewWelfare", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Crew Welfare</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("FamilyOnboard", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Family Onboard</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("CGM", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> CGM</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("VesselAccount", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Vessel Account</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("POM", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> POM</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("MLC", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> MLC</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("MLCCT", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> MLCCT</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("MedicalExamination", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Medical Examination</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("RecruitmentOfSeafarer", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Recruitment Of Seafarer</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("TRM", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> TRM</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="mainmenu">
                            <a href='@Url.Action("Index", "ShipboardOperattion")'>
                                <span class="vul">Volume <b>IV</b> </span><span class="pgnam">ShipboardOperattion </span>
                            </a>
                            <ul class="submenu">
                                <li>
                                    <a href='@Url.Action("Manual", "ShipboardOperattion")'>
                                        <span class="vul">Volume <b>IV</b> </span><span class="pgnam" style="background-color:salmon;">Manual</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SFCE", "ShipboardOperattion")'>
                                        <span class="vul">Volume <b>IV</b> </span><span class="pgnam" style="background-color:salmon;">SFCE</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SFCO", "ShipboardOperattion")'>
                                        <span class="vul">Volume <b>IV</b> </span><span class="pgnam" style="background-color:salmon;">SFCO</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SFM", "ShipboardOperattion")'>
                                        <span class="vul">Volume <b>IV</b> </span><span class="pgnam" style="background-color:salmon;">SFM</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SFSO", "ShipboardOperattion")'>
                                        <span class="vul">Volume <b>IV</b> </span><span class="pgnam" style="background-color:salmon;">SFSO</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("A1LSRATD", "ShipboardOperattion")'>
                                        <span class="vul">Volume <b>IV</b> </span><span class="pgnam" style="background-color:salmon;">A1LSRATD</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("A1LSRATE", "ShipboardOperattion")'>
                                        <span class="vul">Volume <b>IV</b> </span><span class="pgnam" style="background-color:salmon;">A1LSRATE</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("STSOperation", "ShipboardOperattion")'>
                                        <span class="vul">Volume <b>IV</b> </span><span class="pgnam" style="background-color:salmon;">STS Operation</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SBMOperation", "ShipboardOperattion")'>
                                        <span class="vul">Volume <b>IV</b> </span><span class="pgnam" style="background-color:salmon;">SBM Operation</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("RURWAP", "ShipboardOperattion")'>
                                        <span class="vul">Volume <b>IV</b> </span><span class="pgnam" style="background-color:salmon;">RURWAP</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="mainmenu">
                            <a href='@Url.Action("Index", "MaintenanceOfShipAndEquipment")'>
                                <span class="vul">Volume <b>V</b> </span><span class="pgnam">Maintenance Of Ship And Equipment</span>
                            </a>
                            <ul class="submenu">
                                <li>
                                    <a href='@Url.Action("Manual", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">Manual</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Manual", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">Manual</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        @*<li class="mainmenu">
                            <a href='@Url.Action("Index", "MajorCasualtyEnnironmentalProtectionPlan")'>
                                <span class="vul">Volume <b>VI</b> </span><span class="pgnam">Major Casualty &amp; Ennironmental Protection Plan</span>
                            </a>
                            <ul class="submenu">
                                <li>
                                    <a href='@Url.Action("Manual", "MajorCasualtyEnnironmentalProtectionPlan")'>
                                        <span class="vul">Volume <b>VI</b> </span><span class="pgnam" style="background-color:salmon;">Manual</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Manual", "MajorCasualtyEnnironmentalProtectionPlan")'>
                                        <span class="vul">Volume <b>VI</b> </span><span class="pgnam" style="background-color:salmon;">Manual</span>
                                    </a>
                                </li>
                            </ul>
                        </li>*@


                        <li class="mainmenu">
                            <a href='@Url.Action("Index", "TrainingManual")'>
                                <span class="vul">Volume <b>VII</b> </span><span class="pgnam">Training Manual</span>
                            </a>
                            <ul class="submenu">
                                <li>
                                    <a href='@Url.Action("Manual", "TrainingManual")'>
                                        <span class="vul">Volume <b>VII</b> </span><span class="pgnam" style="background-color:salmon;">Manual</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Manual", "TrainingManual")'>
                                        <span class="vul">Volume <b>VII</b> </span><span class="pgnam" style="background-color:salmon;">Manual</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="mainmenu">
                            <a href='@Url.Action("Index", "FormsAndChecklists")'>
                                <span class="vul">Volume <b>VIII</b> </span><span class="pgnam">Checklist &amp; Forms</span>
                            </a>
                            <ul class="submenu">
                                <li>
                                    <a href='@Url.Action("Manual", "FormsAndChecklists")'>
                                        <span class="vul">Volume <b>VIII</b> </span><span class="pgnam" style="background-color:salmon;">Manual</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Manual", "FormsAndChecklists")'>
                                        <span class="vul">Volume <b>VIII</b> </span><span class="pgnam" style="background-color:salmon;">Manual</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

    </section>

    @*<script src="~/Scripts/jquery-3.5.1.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "500px";
            document.getElementById("main").style.marginLeft = "500px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script>
        $(document).ready(function () {

            $('#menuicon').click(function () {
                $('#menu_sec').toggleClass('hidden');
                $('.content_body').toggleClass('wdth_chn');
                $('#menuicon').toggleClass('show');

            });
        });
    </script>

</body>

</html>