<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", required: false)

    <link rel="shortcut icon" href="~/flagimg1.ico" type="image/x-icon" />
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/stellarnav.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
    <link href="~/css/owl.carousel.css" rel="stylesheet">
    <link href="~/css/owl.theme.default.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    @*<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">*@
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
</head>

<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-7">
                    <div class="logo">
                        <a href="#"><img src="~/images/logo.png"></a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-4 col-12">

                </div>
                <div class="col-lg-3 col-md-5 col-5">
                    @*@if (Session["UserName"] != null)
                        {
                            <div>
                                <a id="lnkLogOut" class="btn btn-warning" href="@Url.Action("Login", "Home")"> Log Out</a>
                            </div>
                        }*@
                    <ul class="topright">
                        <li>
                            <div class="dropdown admin">
                                <button class="button log"><span><img src="~/images/questionmark.png" style="width:19px;" /></span></button>
                                <div class="dropdown-content">
                                    <a href='@Url.Action("Index", "Help")'>Help</a>
                                </div>
                            </div>
                        </li>
                        @*------Added on 7th Jul 2021 replaced from Admin Layout-------*@
                        <li>
                            <div class="dropdown admin notification">
                                <button id="btnBell" class="button log">
                                    <span><a href="~/Forms/FormsApprovalList"><img src="~/images/bell.png" style="width:19px;" /></a></span>
                                </button>
                                <sup id="notifyNumber" class="hidis"></sup>
                                <div id="notifyContent" class="dropdown-content hidis smallchar">
                                    @*<h3>@Session["UserCode"].ToString() <span> @Session["Role"].ToString()</span></h3>
                                    <a href="@Url.Action("Login", "Home")">Log Off</a>*@
                                                    @*<div class="scroll">
                                        <ul>
                                            <li>searchButton searchButton</li>
                                            <li>searchButton searchButton</li>
                                            <li>searchButton searchButton</li>
                                        </ul>
                                    </div>*@
                                </div>
                            </div>
                        </li>
                        @*----end--Added on 7th Jul 2021 replaced from Admin Layout-------*@
                        <li>
                            <div class="dropdown admin">
                                <button class="button log"><span><img src="~/images/user.png" style="width:19px;" /></span></button>
                                <div class="dropdown-content">
                                    <h3>@Session["UserCode"].ToString() <span> @Session["Role"].ToString()</span></h3>
                                    <a style="font-size: 10px; color: Highlight;" href="@Url.Action("ChangePassword", "Home")">Change Password</a>
                                    <a href="@Url.Action("Login", "Home")">Log Off</a>
                                </div>
                            </div>
                        </li>
                        <li>

                            <div class="menu_icon" onclick="openNav()">
                                <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
                            </div>
                        </li>
                    </ul>

                    @*<div>
                            <button type="button" class="btn btn-warning">Log Off</button>
                        </div>*@
                </div>
            </div>
        </div>
    </header>
    <div class="breadcrumbs">
        <div class="steps steps_animation">
            <!-- #region Breadcrumb -->
            @Html.Raw(Html.BuildBreadcrumbNavigation())
            <!-- #endregion -->
            @*<div class="steps_item">
                        <span class="steps_content">
                            <a href="#"> Home</a>
                        </span>
                    </div>
                <div class="steps_item">
                    <span class="steps_content">
                        Inner Page1
                    </span>
                </div>*@

            <div class="search">
                <select id="drpVolume" class="form-control form-control-sm mr-3 w-25" style="margin-left:5px;">
                    <option value="-1" selected>Volumes</option>
                    <option value="0">Volume 0</option>
                    <option value="1">Volume 1</option>
                    <option value="2">Volume 2</option>
                    <option value="3">Volume 3</option>
                    <option value="4">Volume 4</option>
                    <option value="5">Volume 5</option>
                    <option value="6">Volume 6</option>
                    <option value="7">Volume 7</option>
                    <option value="8">Volume 8</option>
                </select>
                <input id="txtAllSearctText" type="text" class="searchTerm" placeholder="Search....">
                <a id="lnkAllSearch" class="btn btn-primary" href="#"> <i class="fa fa-search"></i></a>

                @*<button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
        </button>*@
            </div>
        </div>
    </div>

    <section class="full_body">


        <div class="container body-content volumeleftbody">
            @RenderBody()

            <!--<footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>-->
        </div>


        <div id="mySidebar" class="sidebar volume">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <div class="menu_panel">
                <div class="menu">
                    @Html.Action("MenuLayout", "Home")

                    @*--remove the quoted condition ' || Session["Role"].ToString() == "ShipAdmin"' on 2nd May 2021 AS-----*@

                    @if (Session["Role"].ToString() == "OfficeAdmin" || Session["Role"].ToString() == "SupportUser")
                    {
                        <div> &nbsp;</div>

                        <ul>

                            <li class="mainmenu">
                                <a href='@Url.Action("AdminDashboard", "Dashboard")'>
                                    @*<span class="vul"> </span><span class="pgnam">Admin Dashboard</span>*@
                                    <span class="vul"><b>Admin Dashboard</b> </span>
                                </a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </div>

    </section>



    <div class="container body-content">
        <div class="footer">
            <div>&nbsp; &nbsp; &nbsp;</div>
            <ul>
                @*<li disabled><strong>Uncontrolled when printed</strong></li>*@
                <li>Revision 0.0</li>
                <li>Date:01-May -21</li>
                <li><a href="@Url.Action("RevisionDetails", "RevisionHistory")">View Revision Histroy</a></li>
            </ul>
            <div>&nbsp; &nbsp; &nbsp;</div>
        </div>
    </div>


    @Html.Partial("_pvSearchAlertModal")



    @*<script src="~/Scripts/jquery-3.5.1.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/js/jquery.slimscroll.js"></script>
    <script>
        var notification = 0;
        async function GetNotification() {// --Added on 7th Jul 2021
            //event.preventDefault();
            console.log('in Get Notifi');
            var loadposturl = "/Forms/GetFillupFormsListForNotification";
            setTimeout(() => {
                $.ajax({
                    url: "/Forms/GetFillupFormsListForNotification",
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        console.log('in Get Notifi succ');
                        //SetUpGrid(CategoryId);
                        $('#notifyNumber').html(result.recordsTotal);
                        notification = result.recordsTotal;

                        console.log('ts=' + notification);
                        var str = '<div class="scroll"><ul>';
                        if (notification > 0) {
                            console.log(result.data);
                            $.each(result.data, function (i, item) {
                                console.log(item.FilledUpFormName.trim());
                                str = str + '<li>' + item.FilledUpFormName.trim() + '</li>'
                            });

                        }

                        str = str + '</ul></div>'

                        console.log(str);
                        $('#notifyContent').html(str);

                        if (notification === 0) {
                            $('#btnBell').prop('disabled', true);
                            console.log('tIF=' + notification);
                            $('#notifyNumber').addClass('hidis');
                            $('#notifyContent').addClass('hidis');
                        }
                        else if (notification > 0) {
                            $('#btnBell').prop('disabled', false);
                            $('#notifyNumber').removeClass('hidis');
                            $('#notifyContent').removeClass('hidis');
                            /*$("#notifyContent").css({"margin-right": "-24px"});*/
                            $("#notifyNumber").addClass('spaceless');                  /*by Prasenjit*/
                        }
                    },
                    error: function (errormessage) {
                        console.log('in Get Notifi err');
                        console.log(errormessage.responseText);
                    }
                });
            }, 1000);
            // event.stopPropagation();

        }

    /* function openNav() {
            document.getElementById("mySidebar").style.width = "500px";
            document.getElementById("main").style.marginLeft = "500px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }*/


      /* $(".menu_icon").click(function () {
           $(".sidebar").toggle("slow");


        });
        */

        $(document).ready(function () {

            GetNotification();

            $(".menu_icon").click(function () {
                $(".sidebar").toggleClass("sidebarf");
            });
        });

        $('.scroll').slimscroll({
            size: '6px',
            height: '200px',
            opacity: '1',
            background: '#000',
        });
    </script>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
    @*<script src="~/Scripts/jquery-3.5.1.min.js"></script>*@
    <script src="~/Scripts/bootstrap.js"></script>
    <script>
        $(function () {
            $('#txtAllSearctText').change(function () {
                if ($(this).val() != "") {
                    $("#lnkAllSearch").attr("href", $("#lnkAllSearch").attr("href") + "?currentPage=1&text=" + $(this).val());
                }

            });
            $('#txtAllSearctText').keypress(function (event) {
                var keycode = (event.keycode ? event.keyCode : event.which);
                if (keycode == '13') {
                     if ($('#txtAllSearctText').val() == '') {
                        //alert('You cannot search with a blank string');
                        //$('#searchAlertModal').toggleClass('hidden');
                        $('#searchAlertModal').modal('show');
                    }
                    else {
                         //window.location.href = '@Url.Action("SearchList","Manual")?s=' + $('#txtAllSearctText').val();
                         window.location.href = '@Url.Action("SearchList","Manual")?s=' + $('#txtAllSearctText').val() + '&vol=' + $("#drpVolume option:selected").val();
                    }
                }
                //if ($(this).val() != "") {
                //    $("#lnkAllSearch").attr("href", $("#lnkAllSearch").attr("href") + "?currentPage=1&text=" + $(this).val());
                //}

            })
        });
        $(document).ready(function () {

            $('#menuicon').click(function () {
                $('#menu_sec').toggleClass('hidden');
                $('.content_body').toggleClass('wdth_chn');
                $('#menuicon').toggleClass('show');

            });

            $('#lnkAllSearch').click(function () {

                console.log($('#txtAllSearctText').val());
                if ($('#txtAllSearctText').val() == '') {
                    //alert('You cannot search with a blank string');
                    //$('#searchAlertModal').toggleClass('hidden');
                    $('#searchAlertModal').modal('show');
                }
                else {
                   // window.location.href = '@Url.Action("SearchList","Manual")?s=' + $('#txtAllSearctText').val();
                    window.location.href = '@Url.Action("SearchList","Manual")?s=' + $('#txtAllSearctText').val() + '&vol=' + $("#drpVolume option:selected").val();
                }
            });
        });
    </script>

</body>

</html>