<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", required: false)
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/stellarnav.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
    <link href="~/css/owl.carousel.css" rel="stylesheet">
    <link href="~/css/owl.theme.default.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="logo">
                        <a href="#"><img src="~/images/logo.png"></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-12">
                    <div class="search">
                        <input type="text" class="searchTerm" placeholder="Search....">
                        <button type="submit" class="searchButton">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-12">
                    <div class="menu_icon " class="openbtn" onclick="openNav()">
                        <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="breadcrumbs">
        <div class="steps steps_animation">
            <div class="steps_item">
                <span class="steps_content">
                    <a href="#"> Home</a>
                </span>
            </div>
            <div class="steps_item">
                <span class="steps_content">
                    Inner Page1
                </span>
            </div>
        </div>
    </div>

    <section class="full_body">


        <div class="container body-content">
            @RenderBody()
            <hr />
            <!--<footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>-->
        </div>


        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <div class="menu_panel">
                <div class="menu">
                    <ul>


                        @*<li class="mainmenu">
                            <a href="#">
                                <span class="vul">Volume <b>I</b> </span><span class="pgnam">Political Manual</span>
                            </a>
                            <ul class="submenu">
                                <li>
                                    <a href="#">
                                        <span class="vul">Volume <b>I</b> </span><span class="pgnam" style="background-color:salmon;">Political Manual</span>
                                    </a>
                                </li>
                            </ul>
                        </li>*@


                        <li class="mainmenu">
                            <a href='@Url.Action("Index", "CompanyPolicyManual")'>
                                <span class="vul">Volume <b>I</b> </span><span class="pgnam">Company Policy Manual</span>
                            </a>
                            <ul class="submenu">
                                <li>
                                    <a href='@Url.Action("Manual", "CompanyPolicyManual")'>
                                        <span class="vul">Volume <b>I</b> </span><span class="pgnam" style="background-color:salmon;"> Manual</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Introduction", "CompanyPolicyManual")'>
                                        <span class="vul">Volume <b>I</b> </span><span class="pgnam" style="background-color:salmon;"> Introduction Rev 01</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Definition", "CompanyPolicyManual")'>
                                        <span class="vul">Volume <b>I</b> </span><span class="pgnam" style="background-color:salmon;"> PS 1.1 Definition</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SMS", "CompanyPolicyManual")'>
                                        <span class="vul">Volume <b>I</b> </span><span class="pgnam" style="background-color:salmon;"> PS 1.2 Safety Management System</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SFA", "CompanyPolicyManual")'>
                                        <span class="vul">Volume <b>I</b> </span><span class="pgnam" style="background-color:salmon;"> PS 1.3 Scope and Field Of Application</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SEPP", "CompanyPolicyManual")'>
                                        <span class="vul">Volume <b>I</b> </span><span class="pgnam" style="background-color:salmon;"> PS 2.0 Safety _ Environmental Protection Policy</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("MRA", "CompanyPolicyManual")'>
                                        <span class="vul">Volume <b>I</b> </span><span class="pgnam" style="background-color:salmon;"> PS 3.0 Management Responsibilty and Authority</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("ResourcesAndPersonnel", "CompanyPolicyManual")'>
                                        <span class="vul">Volume <b>I</b> </span><span class="pgnam" style="background-color:salmon;">PS 6.0 Resources and Personnel</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("PSO", "CompanyPolicyManual")'>
                                        <span class="vul">Volume <b>I</b> </span><span class="pgnam" style="background-color:salmon;"> PS 7.0 Plans for Shipboard Operation</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("CNCCA", "CompanyPolicyManual")'>
                                        <span class="vul">Volume <b>I</b> </span><span class="pgnam" style="background-color:salmon;"> PS 9.0 Control of Non-Conformance and Corrective Action</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("MSE", "CompanyPolicyManual")'>
                                        <span class="vul">Volume <b>I</b> </span><span class="pgnam" style="background-color:salmon;"> PS 10.0 Maintenance of the Ship and Equipment</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("DDC", "CompanyPolicyManual")'>
                                        <span class="vul">Volume <b>I</b> </span><span class="pgnam" style="background-color:salmon;"> PS 11.0 document and Data Control</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("ISEPA", "CompanyPolicyManual")'>
                                        <span class="vul">Volume <b>I</b> </span><span class="pgnam" style="background-color:salmon;"> PS 12.0 Internal Safety _ Environmental Protection Audits</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="mainmenu">
                            <a href='@Url.Action("Index", "CompanyProceduresManual")'>
                                <span class="vul">Volume <b>II</b> </span><span class="pgnam"> Procedures Manual </span>
                            </a>
                            <ul class="submenu">

                                <li>
                                    <a href='@Url.Action("Manual", "CompanyProceduresManual")'>
                                        <span class="vul">Volume <b>II</b> </span><span class="pgnam" style="background-color:salmon;"> Manual</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("ProceduresExplained", "CompanyProceduresManual")'>
                                        <span class="vul">Volume <b>II</b> </span><span class="pgnam" style="background-color:salmon;">PP01.2 - Procedures Explained</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SEP", "CompanyProceduresManual")'>
                                        <span class="vul">Volume <b>II</b> </span><span class="pgnam" style="background-color:salmon;"> PP02.0 - Safety Environmental Policy</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("MRA", "CompanyProceduresManual")'>
                                        <span class="vul">Volume <b>II</b> </span><span class="pgnam" style="background-color:salmon;"> PP03.0 - Management Responsibility and Authority</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("DesignatedPerson", "CompanyProceduresManual")'>
                                        <span class="vul">Volume <b>II</b> </span><span class="pgnam" style="background-color:salmon;">PP04.0 - Designated Person</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("MastersRA", "CompanyProceduresManual")'>
                                        <span class="vul">Volume <b>II</b> </span><span class="pgnam" style="background-color:salmon;"> PP05.0 - Master_s Responsibility and Authority</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("HRT", "CompanyProceduresManual")'>
                                        <span class="vul">Volume <b>II</b> </span><span class="pgnam" style="background-color:salmon;"> PP06.0 - Human Resource and Training</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("PSO", "CompanyProceduresManual")'>
                                        <span class="vul">Volume <b>II</b> </span><span class="pgnam" style="background-color:salmon;"> PP07.0 - Plans for Shipboard Operation</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("CCP", "CompanyProceduresManual")'>
                                        <span class="vul">Volume <b>II</b> </span><span class="pgnam" style="background-color:salmon;"> PP08.0 - Company Contingency Plan</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("NCCA", "CompanyProceduresManual")'>
                                        <span class="vul">Volume <b>II</b> </span><span class="pgnam" style="background-color:salmon;"> PP09.0 - Non Conformity and Corrective Action</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("MIT", "CompanyProceduresManual")'>
                                        <span class="vul">Volume <b>II</b> </span><span class="pgnam" style="background-color:salmon;"> PP10.0 - Maintenance Inspection and Testing</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("DDC", "CompanyProceduresManual")'>
                                        <span class="vul">Volume <b>II</b> </span><span class="pgnam" style="background-color:salmon;"> PP11.0 - Documents _ Data Control</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("ISEPA", "CompanyProceduresManual")'>
                                        <span class="vul">Volume <b>II</b> </span><span class="pgnam" style="background-color:salmon;"> PP12.0 - Internal Safety and Environmental Protection Audits</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("DAP", "CompanyProceduresManual")'>
                                        <span class="vul">Volume <b>II</b> </span><span class="pgnam" style="background-color:salmon;"> PP20.0 - Drug _ Alcohol Policy</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="mainmenu">
                            <a href='@Url.Action("Index", "CompanyResponsibilityAndAuthorityManual")'>
                                <span class="vul">Volume <b>III</b> </span><span class="pgnam">Company Responsibilities &amp; Authority </span>
                            </a>
                            <ul class="submenu">
                                
                                <li>
                                    <a href='@Url.Action("Manual", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Manual</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SOOJD", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Second Officer Job Description - TO BE DELETED</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SOC", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Section 1 - Shore Organisation</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SOC", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Section 1 Annex 1 - Shore Organisation Chart</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SPR", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Section 2 - Shore Personnel Recruitment</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("DesignatedPerson", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Section 3 - Designated Person</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("ShipboardOrganisation", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Section 4 - Shipboard Organisation</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Appraisal", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Section 5 - Appraisal</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Promotion", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Section 6 - Promotion</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SOOC", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Section 7 - Signing On _ Off crew</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("HandOver", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Section 8 - Hand Over</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SMC", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Section 9 - Safe Manning _ Certification</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("WRH", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Section 10 - Work and Rest hour</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("WSR", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Section 11 - Working Schedule and Roster</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("ODG", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Section 12 - Onboard Discipline and Grievance</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("CDMP", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Section 13 - Crew Desertion _ Missing Person</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("DrugAndAlcohol", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Section 14 - Drug and Alcohol</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("ShipboardMedical", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Section 15 - Shipboard Medical</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("DeathOnboard", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Section 16 - Death Onboard</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("PBS", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Section 17 - Provision and Bond Store</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("DressCode", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Section 18  - Dress Code</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("CrewWelfare", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Section 19 - Crew Welfare</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("FamilyOnboard", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Section 21 - Family Onboard</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("CGM", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Section 22 - Crew General Matters</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("VesselAccount", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Section 23 - Vessel Account</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("POM", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Section 24 - Pornography and Obscene Material</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("MLC", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Section 25 - MLC</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("MLCCT", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Section 26 - MLC Compliance _ Training</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("MedicalExamination", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Section 27 - Medical Examination</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("RecruitmentOfSeafarer", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Section 28 - Recruitment of Seafarer</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("TRM", "CompanyResponsibilityAndAuthorityManual")'>
                                        <span class="vul">Volume <b>III</b> </span><span class="pgnam" style="background-color:salmon;"> Section 29 - Travel Risk Management</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="mainmenu">
                            <a href='@Url.Action("Index", "ShipboardOperattion")'>
                                <span class="vul">Volume <b>IV</b> </span><span class="pgnam">ShipboardOperattion </span>
                            </a>
                            <ul class="submenu">
                                <li>
                                    <a href='@Url.Action("Manual", "ShipboardOperattion")'>
                                        <span class="vul">Volume <b>IV</b> </span><span class="pgnam" style="background-color:salmon;">Manual</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SFCE", "ShipboardOperattion")'>
                                        <span class="vul">Volume <b>IV</b> </span><span class="pgnam" style="background-color:salmon;">SFCE</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SFCO", "ShipboardOperattion")'>
                                        <span class="vul">Volume <b>IV</b> </span><span class="pgnam" style="background-color:salmon;">SFCO</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SFM", "ShipboardOperattion")'>
                                        <span class="vul">Volume <b>IV</b> </span><span class="pgnam" style="background-color:salmon;">SFM</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SFSO", "ShipboardOperattion")'>
                                        <span class="vul">Volume <b>IV</b> </span><span class="pgnam" style="background-color:salmon;">SFSO</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("A1LSRATD", "ShipboardOperattion")'>
                                        <span class="vul">Volume <b>IV</b> </span><span class="pgnam" style="background-color:salmon;">A1LSRATD</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("A1LSRATE", "ShipboardOperattion")'>
                                        <span class="vul">Volume <b>IV</b> </span><span class="pgnam" style="background-color:salmon;">A1LSRATE</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("STSOperation", "ShipboardOperattion")'>
                                        <span class="vul">Volume <b>IV</b> </span><span class="pgnam" style="background-color:salmon;">STS Operation</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SBMOperation", "ShipboardOperattion")'>
                                        <span class="vul">Volume <b>IV</b> </span><span class="pgnam" style="background-color:salmon;">SBM Operation</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("RURWAP", "ShipboardOperattion")'>
                                        <span class="vul">Volume <b>IV</b> </span><span class="pgnam" style="background-color:salmon;">RURWAP</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="mainmenu">
                            <a href='@Url.Action("Index", "MaintenanceOfShipAndEquipment")'>
                                <span class="vul">Volume <b>V</b> </span><span class="pgnam">Maintenance Of Ship And Equipment</span>
                            </a>
                            <ul class="submenu">
                                <li>
                                    <a href='@Url.Action("Manual", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">Manual</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Boiler", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">1-Boiler</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SteeringGear", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">2-Steering Gear</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("MainEngines", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">3-Main Engines</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Generator", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">4-Generator</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("STLG", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">5-Stern Tube Leaking Guideline</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("FuelOil", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">6-Fuel Oil</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Lubrication", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">7-Lubrication</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("EEE", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">8-Electrical and Electronic Equipment</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Refrigeration", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">9-Refrigeration</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("MOTER", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">10-Machinery outside the engine room</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Surveys", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">11-Surveys</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("UMS", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">12-Unmanned machinery space</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("AuxiliaryMachiney", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">13-Auxiliary Machiney</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("LandingAdvice", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">15-Landing Advice</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("NewBuilding", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">16 - New Building</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("FreshWater", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">17-Fresh Water</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("MonitoringAndAlarm", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">18- Monitoring and Alarm</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("ECWT", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">19-Engine Cooling Water Treatment</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SPS", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">20-Standard Paint Scheme</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("ORB", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">21-Oil Record Book</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("VesselImmobilisation", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">22-Vessel Immobilisation</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("MaintenancePMS", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">24-Maintenance PMS (Bassnet)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SRMRTIR1", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">25- Annex A -Soft Rope and Mooring Rope Tail Inspection Rev 01</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("MooringMaintenanceR1", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">25-Mooring Maintenance Rev 01</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("LiftingAppliances", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">26-Lifting Appliances</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("EUCR", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">28- Annex I - EU Commision Recommendation</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("EUDFAQ", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">28- Annex II - EU Directive FAQ</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("MFSRBS", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">28- Annex III Marine Fuel Sulphur Record Book Sample</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("CRFS", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">28- Annex IV CARB Recordkeeping Form Samples</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("BNSECA", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">28- Annex VI (A) - Baltic and North Sea ECA</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("TurkeyECA", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">28- Annex VI (B) - Turkey ECA</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("NACECA", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">28- Annex VI (C) - North Amercian and Caribbean ECA</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("HKECA", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">28- Annex VI (D) - HK ECA</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("ChinaECAR1", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">28- Annex VI (E) - China ECA Rev 01</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("EUSD", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">28- Annex VI (F) - EU Sulphur Directive</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("GKECAR", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">28- Annex VI (G) - Guidance for Korea Emission Control Areas Regulation</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SampleOfFONAR", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">28- Annex VII - Sample of FONAR</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("LSMGO", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">28-Low sulphur MGO</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("CES", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">29 - Critical Equipment and Spare</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("LCE", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">29.3 - Annex A - List of Critical Equipment</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("GTI", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">30-Guidelines for Tanker Inspection</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("RecyclingOfVessel", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">31-Recycling of Vessel</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SCRS", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">33-Selective Catalytic Reduction System</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SPM", "MaintenanceOfShipAndEquipment")'>
                                        <span class="vul">Volume <b>V</b> </span><span class="pgnam" style="background-color:salmon;">34-Shipboard Procurement Management</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="mainmenu">
                            <a href='@Url.Action("Index", "MajorCasualtyEnnironmentalProtectionPlan")'>
                                <span class="vul">Volume <b>VI</b> </span><span class="pgnam">Major Casualty &amp; Ennironmental Protection Plan</span>
                            </a>
                            <ul class="submenu">
                                <li>
                                    <a href='@Url.Action("Manual", "MajorCasualtyEnnironmentalProtectionPlan")'>
                                        <span class="vul">Volume <b>VI</b> </span><span class="pgnam" style="background-color:salmon;">Manual</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SEPGG", "MajorCasualtyEnnironmentalProtectionPlan")'>
                                        <span class="vul">Volume <b>VI</b> </span><span class="pgnam" style="background-color:salmon;">Section 1 - Shipboard Emergency Plan – General Guidance</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SEPACS", "MajorCasualtyEnnironmentalProtectionPlan")'>
                                        <span class="vul">Volume <b>VI</b> </span><span class="pgnam" style="background-color:salmon;">Section 3 - Shipboard Emergency Plan – Action Checklist for Security</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SEPM", "MajorCasualtyEnnironmentalProtectionPlan")'>
                                        <span class="vul">Volume <b>VI</b> </span><span class="pgnam" style="background-color:salmon;">Section 4 - Shipboard Emergency Plan - Medical</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("CCPTHRA", "MajorCasualtyEnnironmentalProtectionPlan")'>
                                        <span class="vul">Volume <b>VI</b> </span><span class="pgnam" style="background-color:salmon;">Section 5 - Company Contingency Plan for Transiting HRA</span>
                                    </a>
                                </li>
                                
                            </ul>
                        </li>


                        <li class="mainmenu">
                            <a href='@Url.Action("Index", "TrainingManual")'>
                                <span class="vul">Volume <b>VII</b> </span><span class="pgnam">Training Manual</span>
                            </a>
                            <ul class="submenu">
                                <li>
                                    <a href='@Url.Action("Manual", "TrainingManual")'>
                                        <span class="vul">Volume <b>VII</b> </span><span class="pgnam" style="background-color:salmon;">Manual</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("StatutoryTraining", "TrainingManual")'>
                                        <span class="vul">Volume <b>VII</b> </span><span class="pgnam" style="background-color:salmon;">Section 1 - Statutory Training</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("CDT", "TrainingManual")'>
                                        <span class="vul">Volume <b>VII</b> </span><span class="pgnam" style="background-color:salmon;">Section 2 - Career Development Training</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("CadetTraining", "TrainingManual")'>
                                        <span class="vul">Volume <b>VII</b> </span><span class="pgnam" style="background-color:salmon;">Section 3 - Cadet Training</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("CBT", "TrainingManual")'>
                                        <span class="vul">Volume <b>VII</b> </span><span class="pgnam" style="background-color:salmon;">Section 4 - Computer Based Training</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("TPSP", "TrainingManual")'>
                                        <span class="vul">Volume <b>VII</b> </span><span class="pgnam" style="background-color:salmon;">Section 5 - Training Plan for Shore Personnel</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("SDT", "TrainingManual")'>
                                        <span class="vul">Volume <b>VII</b> </span><span class="pgnam" style="background-color:salmon;">Section 6 - Shipboard Drill and Training</span>
                                    </a>
                                </li>
                                
                            </ul>
                        </li>

                        <li class="mainmenu">
                            <a href='@Url.Action("Index", "FormsAndChecklists")'>
                                <span class="vul">Volume <b>VIII</b> </span><span class="pgnam">Checklist &amp; Forms</span>
                            </a>
                            <ul class="submenu">
                                <li>
                                    <a href='@Url.Action("Manual", "FormsAndChecklists")'>
                                        <span class="vul">Volume <b>VIII</b> </span><span class="pgnam" style="background-color:salmon;">Manual</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Manual", "FormsAndChecklists")'>
                                        <span class="vul">Volume <b>VIII</b> </span><span class="pgnam" style="background-color:salmon;">Manual</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

    </section>

    @*<script src="~/Scripts/jquery-3.5.1.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "500px";
            document.getElementById("main").style.marginLeft = "500px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script>
        $(document).ready(function () {

            $('#menuicon').click(function () {
                $('#menu_sec').toggleClass('hidden');
                $('.content_body').toggleClass('wdth_chn');
                $('#menuicon').toggleClass('show');

            });
        });
    </script>

</body>

</html>