
@{
    ViewBag.Title = "AdminDashboard";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

@*<h2>AdminDashboard</h2>*@

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tcc</title>
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/stellarnav.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
    <link href="~/css/owl.carousel.css" rel="stylesheet">
    <link href="~/css/owl.theme.default.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <style>
        .layouttwo ul {
        }

            .layouttwo ul li {
            }

                .layouttwo ul li a {
                    text-align: left;
                    font-size: 19px;
                    padding: 17px 31px 0 9%; /* width: 261px; */
                }

        .wel {
            margin: 30px auto;
            text-align: center;
            width: 307px;
            background: #e90000;
            color: #fff;
            padding: 20px 0;
            border-radius: 11px;
        }

            .wel h4 {
                border-bottom: 1px solid #eee;
                padding: 0 0 13px 0;
            }

            .wel h5 {
                font-weight: 400;
                text-align: left;
                padding: 19px;
            }

            .wel h6 {
                margin: 57% 10px 0;
                text-align: center;
            }

        .card {
            background: #3f4042;
            border-radius: 9px;
            padding: 20px;
            width: 245px;
            margin: 20px auto;
        }

            .card h6 {
                color: #fff;
                font-size: 22px;
                padding: 12px 0 0;
            }

                .card h6 span {
                    display: block;
                }

            .card img { /* width: 20px; */
            }
        .steps {
            padding: 0;
        }

        .sidebar {
            width: 0;
        }

  
    </style>
</head>

<body>
    

    <section class="full_body">
        <div class="content_body" style="width: 100%;">
            <div class="wel">
                <h4>Welcome To TCCDOC</h4>
                @*<h5>Hello  @Session["UserName"].ToString()</h5>*@
                <h5>Hello Admin</h5>
                <h6>
                    We Pledge to Serve
                    <span>support@technology.com</span>
                </h6>
            </div>

            <div class="row">


                <div class="col-lg-1 col-md-1 col-12">
                </div>

                <div class="col-lg-2 col-md-2 col-6">
                    <div class="icon_box dropdown">
                        <div class="tooltip">
                            <span class="dropbtn">
                                <img src="~/images/icons/2x/Vessel_Normal@2x.png">
                                <img src="~/images/icons/2x/Vessel_Hover@2x.png">
                            </span>
                            <span class="tooltiptext"> Vessel Details</span>
                        </div>
                            @*<div class="dropdown-content" style="min-width: 300px;  top: -300px;">
                @Html.Action("ShipMenuLayout", "Dashboard")
            </div>*@
                            @Html.Action("ShipMenuLayout", "Dashboard")
                           
                        </div>
                    </div>

                <div class="col-lg-2 col-md-2 col-6">
                    <div class="icon_box dropdown">
                        <div class="tooltip">
                            <span class="dropbtn">
                                <img src="~/images/icons/2x/Icon_USerManagement_Normal@2x.png">
                                <img src="~/images/icons/2x/Icon_USerManagement_Hover@2x.png">
                            </span>
                            <span class="tooltiptext"> User Management</span>
                        </div>
                        @*<div class="dropdown-content" style="min-width: 300px;  top: -130px;">
                            <ul>
                                @if (Session["Role"].ToString() == "SupportUser")
                                {
                                    <li><a href="@Url.Action("RoleGroup", "RoleGroup")">Associate Role Group</a></li>
                                    <li><a href="@Url.Action("GroupUser", "RoleGroup")">Associate Group User</a></li>
                                }
                                @if (Session["Role"].ToString() == "SupportUser" || Session["Role"].ToString() == "OfficeAdmin")
                                {
                                    <li><a href="@Url.Action("Index", "UserMaster")">Create User</a></li>
                                }
                            </ul>
                        </div>*@

                        @if (Session["Role"].ToString() == "SupportUser")
                        {
                            <div class="dropdown-content" style="min-width: 200px;  top: -130px;">
                                <ul>
                                    <li><a href="@Url.Action("RoleGroup", "RoleGroup")">Associate Role Group</a></li>
                                    <li><a href="@Url.Action("GroupUser", "RoleGroup")">Associate Group User</a></li>
                                    <li><a href="@Url.Action("Index", "UserMaster")">Create User</a></li>
                                </ul>
                            </div>
                        }

                        @if (Session["Role"].ToString() == "OfficeAdmin")
                        {
                            <div class="dropdown-content" style="min-width: 200px;  top: -40px;">
                                <ul>
                                    <li><a href="@Url.Action("Index", "UserMaster")">Create User</a></li>
                                </ul>
                            </div>
                        }


                        

                    </div>
                </div>

                <div class="col-lg-2 col-md-2 col-6">
                    <a href="@Url.Action("Index", "Ticket")">
                        <div class="icon_box dropdown">
                            <div class="tooltip">
                                <span class="dropbtn">
                                    <img src="~/images/icons/2x/Icon_Ticket_Normal@2x.png">
                                    <img src="~/images/icons/2x/Icon_Ticket_Hover@2x.png">
                                </span>
                                <span class="tooltiptext">Ticket</span>
                            </div>
                            </div>
</a>
                </div>

                <div class="col-lg-2 col-md-2 col-6">
                    <a href="">
                       
                        <div class="icon_box dropdown">
                            <div class="tooltip">
                                <span class="dropbtn">
                                    <img src="~/images/icons/2x/Icon_Sync_Normal@2x.png">
                                    <img src="~/images/icons/2x/Icon_Sync_Hover@2x.png">
                                </span>
                                <span class="tooltiptext">Sync</span>
                            </div>
                            <div class="dropdown-content">

                            </div>

                        </div>
                    </a>
                </div>

                @if (Session["Role"].ToString() == "OfficeAdmin" || Session["Role"].ToString() == "SupportUser")
                {
                    <div class="col-lg-2 col-md-2 col-6">
                        <a href="">
                            <div class="icon_box dropdown">
                                <div class="tooltip">
                                    <span class="dropbtn">
                                        <img src="~/images/icons/2x/Rivision_Normal@2x.png">
                                        <img src="~/images/icons/2x/Rivision_Hover@2x.png">
                                    </span>
                                    <span class="tooltiptext">Update Manual</span>
                                </div>
                                   
                                </div>
</a>
                    </div>
                }

                    @if (Session["Role"].ToString() == "ShipAdmin" || Session["Role"].ToString() == "SupportUser")
                    {
                        <div class="col-lg-2 col-md-2 col-6">
                            <a href="">
                                <div class="icon_box dropdown">
                                    <div class="tooltip">
                                        <span class="dropbtn">
                                            <img src="~/images/icons/2x/Icon_Template_Normal@2x.png">
                                            <img src="~/images/icons/2x/Icon_Template_Hover@2x.png">
                                        </span>
                                        <span class="tooltiptext">Template</span>
                                    </div>
                                        <div class="dropdown-content">
                                        </div>
                                </div>
</a>
                        </div>
                    }


                    <div class="col-lg-1 col-md-1 col-6">
                    </div>
                    @*<div class="col-md-6">
                <div class="card">
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Crew<span> 41</span></h6>
                        </div>
                        <div class="col-md-6">
                            <img src="~/images/adminf.png">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Vessel</h6>
                        </div>
                        <div class="col-md-6">
                            <img src="~/images/vissel.png">
                        </div>
                    </div>
                </div>
            </div>*@

                
                </div>
            </div>
       

    </section>

    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/stellarnav.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/theme.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/jquery.slimscroll.js"></script>

    <script>
        wow = new WOW({
            animateClass: 'animated',
            offset: 100
        });
        wow.init();


        jQuery(document).ready(function($) {
            jQuery('.stellarnav').stellarNav({
                theme: 'light'
            });
            jQuery('.stellarnav li').addClass('drop-left');
        });
    </script>
    <script>
        $(document).ready(function() {

            $('#menuicon').click(function() {
                $('#menu_sec').toggleClass('hidden');
                 $('.content_body').toggleClass('wdth_chn');
                $('#menuicon').toggleClass('show');

            });
        });
    </script>
</body>
