
@{
    ViewBag.Title = "ShipDashboard";
    Layout = "~/Views/Shared/_Ship_Layout.cshtml";
}
<style>
    #mySidebar {
        width: 500px;
    }
</style>

<div class="">
    <div class="banner_div">
        @if (Session["Role"].ToString() == "ShipUser")
        {
            @*var path = "~/images/" + @Session["ShipName"].ToString() + ".jpg";
            <img src="@path">*@

            if (Session["ShipId"].ToString() == "1")
            {
                <img src="~/images/KHK Vision.jpg">
            }
        }
        else
        {
            <img src="~/images/ship.png">
        }

    </div>
    <div class="bnr_bottom_sec">
        <div class="row">

            <div class="col-lg-2 col-md-2 col-6">
                <div class="icon_box dropdown">
                    <span class="dropbtn">
                        <img src="~/images/ship_icon.png">
                    </span>

                    @*<div class="dropdown-content" style="min-width: 300px;  top: -300px;">
            @Html.Action("ShipMenuLayout", "Dashboard")
        </div>*@

                    @if (Session["Role"].ToString() == "ShipUser")
                    {
                        @*<a href="#">SMS Manuals</a>*@

                        <a href='@Url.Action("UserDashboard", "Dashboard")'>
                            <span>Volume Manual</span>
                        </a>

                    }
                    else
                    {
                        @Html.Action("ShipMenuLayout", "Dashboard")
                        <a href="#">Ship Specific Manuals & Plans</a>
                    }

                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-6">
                <a href="@Url.Action("Index", "CommonToAllManual")">
                    <div class="icon_box dropdown">
                        <span class="dropbtn">
                            <img src="~/images/job.png">
                        </span>
                        <div class="dropdown-content">
                           
                        </div>

                        Common Manuals & Plans


                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-2 col-6">
                <a href="@Url.Action("Index", "ReferenceMaterials")">
                    <div class="icon_box dropdown">
                        <span class="dropbtn">
                            <img src="~/images/dcu_icon.png">
                        </span>
                        <div class="dropdown-content">
                            @*<ul>
                                    <li><a href="#">Link 1</a></li>

                                    <li class="dropmenuright">
                                        <a href="#">Link 2</a>
                                        <ul class="dropdown-rightcontent">
                                            <li><a href="#">Link 2.1</a></li>
                                            <li>
                                                <a href="#">Link 2.2</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li><a href="#">Link 3</a></li>
                                </ul>*@
                        </div>

                        Reference Material


                    </div>
                </a>
            </div>


            <div class="col-lg-2 col-md-2 col-6">
                <a href="@Url.Action("RevisionDetails", "RevisionHistory")">
                    <div class="icon_box dropdown">
                        <span class="dropbtn">
                            <img src="~/images/search_icon.png">
                        </span>
                        <div class="dropdown-content">
                        </div>
                        Revisions
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-5 col-12">
                <div class="left_bo dropdown">
                    <span class="one_part dropbtn">
                        <img src="~/images/board.png">
                        <a href="#">Notice Board</a>
                    </span>
                    <div class="dropdown-content">
                        <ul>
                            <li><a href="#">Link 1</a></li>

                            <li class="dropmenuright">
                                <a href="#">Link 2</a>
                                <ul class="dropdown-rightcontent">
                                    <li><a href="#">Link 2.1</a></li>
                                    <li>
                                        <a href="#">Link 2.2</a>
                                    </li>
                                </ul>
                            </li>

                            <li><a href="#">Link 3</a></li>
                        </ul>
                    </div>

                    <div class="two_part">
                        <ul>
                            <li><a href="#"><img src="~/images/1.png">Bulletins</a></li>
                            <li><a href="#"><img src="~/images/2.png">Circulars</a></li>
                            <li><a href="#"><img src="~/images/3.png">Instructions</a></li>
                        </ul>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>

