
@{
    ViewBag.Title = "ShipDashboard";
    Layout = "~/Views/Shared/_Ship_Layout.cshtml";
}
<style>
    #mySidebar {
        width: 500px;
    }
</style>

<div class="">
    <div class="banner_div">
       @if (Session["Role"].ToString() == "ShipUser")
        {
            @*var path = "~/images/" + @Session["ShipName"].ToString() + ".jpg";
            <img src="@path">*@

            @*if (Session["ShipId"].ToString() != null)
            {
                var path = "~/images/" + @Session["ShipName"].ToString() + ".jpg";
                <img src="@path">
            }
            else
            {
                <img src="~/images/ship.png">
            }*@


            if (Session["ShipId"].ToString() == "1")
            {
                <img src="~/images/KHK Vision.jpg">
            }
            else if (Session["ShipId"].ToString() == "2")
            {
                <img src="~/images/KWK Excelsus.jpg">
            }
            else if (Session["ShipId"].ToString() == "3")
            {
                <img src="~/images/CSK Vanguard.jpg">
            }
            else if (Session["ShipId"].ToString() == "4")
            {
                <img src="~/images/CSK Valiant.jpg">
            }
            else if (Session["ShipId"].ToString() == "5")
            {
                <img src="~/images/CSK Endeavour.jpg">
            }
            else if (Session["ShipId"].ToString() == "6")
            {
                <img src="~/images/KHK Empress.jpg">
            }
            else if (Session["ShipId"].ToString() == "7")
            {
                <img src="~/images/KHK Majesty.jpg">
            }
        }
        else
        {

            @*if (Session["ShipId"].ToString() != null)
            {
                var path = "~/images/" + @Session["ShipName"].ToString() + ".jpg";
                <img src="@path">
            }
            else
            {
                <img src="~/images/ship.png">
            }*@

           //------ShipId--change--to--DashboardShipId-------------


           if (Session["DashboardShipId"].ToString() == "1")
           {
                <img src="~/images/KHK Vision.jpg">
            }
           else if (Session["DashboardShipId"].ToString() == "2")
           {
                <img src="~/images/KWK Excelsus.jpg">
            }
           else if (Session["DashboardShipId"].ToString() == "3")
           {
                <img src="~/images/CSK Vanguard.jpg">
            }
           else if (Session["DashboardShipId"].ToString() == "4")
           {
                <img src="~/images/CSK Valiant.jpg">
            }
           else if (Session["DashboardShipId"].ToString() == "5")
           {
                <img src="~/images/CSK Endeavour.jpg">
            }
           else if (Session["DashboardShipId"].ToString() == "6")
           {
                <img src="~/images/KHK Empress.jpg">
            }
           else if (Session["DashboardShipId"].ToString() == "7")
           {
                <img src="~/images/KHK Majesty.jpg">
            }
           else
           {
                <img src="~/images/ship.png">
            }


       }


    </div>
    <div class="bnr_bottom_sec">
        <div class="row">

            <div class="col-lg-2 col-md-2 col-6">
                <div class="icon_box dropdown">
                    <div class="tooltip">
                        @*<span class="dropbtn">
                            <img src="~/images/icons/2x/Rivision_Normal@2x.png">
                            <img src="~/images/icons/2x/Rivision_Hover@2x.png">

                        </span>*@
                        @*<span class="tooltiptext">SMS Manuals</span>*@ @*-----this line replace with below condition-----*@

                        @*---------------New Changed/Added on 16th Jun  2021 ---BK-- below condition-------------*@
                        @if (Session["Role"].ToString() == "ShipUser" || Session["Role"].ToString() == "ShipAdmin")
                        {


                            <a href='@Url.Action("UserDashboard", "Dashboard")'>
                                @*SMS Manuals*@
                                <span class="dropbtn">
                                    <img src="~/images/icons/2x/Rivision_Normal@2x.png">
                                    <img src="~/images/icons/2x/Rivision_Hover@2x.png">

                                </span>
                                <span class="tooltiptext">SMS Manuals</span>
                            </a>

                        }
                        else
                        {
                            @Html.Action("ShipMenuLayout", "Dashboard")
                            <span class="dropbtn">
                                <img src="~/images/icons/2x/Vessel_Normal@2x.png">
                                <img src="~/images/icons/2x/Vessel_Hover@2x.png">
                            </span>
                            <a href="#"><span class="tooltiptext">Ship Specific Manuals & Plans</span></a>
                        }
                    </div>


                        @*<div class="dropdown-content" style="min-width: 300px;  top: -300px;">
                            @Html.Action("ShipMenuLayout", "Dashboard")
                        </div>*@

                    @*@if (Session["Role"].ToString() == "ShipUser" || Session["Role"].ToString() == "ShipAdmin")
                    {


                        <a href='@Url.Action("UserDashboard", "Dashboard")'>
                            SMS Manuals
                        </a>

                    }
                    else
                    {
                        @Html.Action("ShipMenuLayout", "Dashboard")
                        <a href="#">Ship Specific Manuals & Plans</a>
                    }*@

                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-6">
                <a href="@Url.Action("Index", "CommonToAllManual")">
                    <div class="icon_box dropdown">
                        <div class="tooltip">
                            <span class="dropbtn">
                                <img src="~/images/icons/2x/JobDescription_Normal@2x.png">
                                <img src="~/images/icons/2x/JobDescription_Hover@2x.png">

                            </span>
                            <span class="tooltiptext"> Common Manuals & Plans</span>
                        </div>
                        <div class="dropdown-content">
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-2 col-6">
                <a href="@Url.Action("Index", "ReferenceMaterials")">
                    <div class="icon_box dropdown">
                        <div class="tooltip">
                            <span class="dropbtn">
                                <img src="~/images/icons/2x/ReferenceDoc_Normal@2x.png">
                                <img src="~/images/icons/2x/ReferenceDoc_Hover@2x.png">

                            </span>
                            <span class="tooltiptext"> Reference Material</span>
                        </div>
                        
                        <div class="dropdown-content">
                            @*<ul>
                <li><a href="#">Link 1</a></li>

                <li class="dropmenuright">
                    <a href="#">Link 2</a>
                    <ul class="dropdown-rightcontent">
                        <li><a href="#">Link 2.1</a></li>
                        <li>
                            <a href="#">Link 2.2</a>
                        </li>
                    </ul>
                </li>

                <li><a href="#">Link 3</a></li>
            </ul>*@
                        </div>

                        


                    </div>
                </a>
            </div>


            <div class="col-lg-2 col-md-2 col-6">
                <a href="@Url.Action("RevisionDetails", "RevisionHistory")">
                    <div class="icon_box dropdown">
                        <div class="tooltip">
                            <span class="dropbtn">
                                <img src="~/images/icons/2x/Rivision_Normal@2x.png">
                                <img src="~/images/icons/2x/Rivision_Hover@2x.png">

                            </span>
                            <span class="tooltiptext"> Revisions</span>
                        </div>
                        
                        <div class="dropdown-content">
                        </div>
                        
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-5 col-12">
                <div class="left_bo dropdown">
                    <span class="one_part">
                        <img src="~/images/board.png">
                        @*<a href="#">Notice Board</a>*@
                        Notice Board
                    </span>
                    @*<div class="dropdown-content">
                        <ul>
                            <li><a href="#">Link 1</a></li>

                            <li class="dropmenuright">
                                <a href="#">Link 2</a>
                                <ul class="dropdown-rightcontent">
                                    <li><a href="#">Link 2.1</a></li>
                                    <li>
                                        <a href="#">Link 2.2</a>
                                    </li>
                                </ul>
                            </li>

                            <li><a href="#">Link 3</a></li>
                        </ul>
                    </div>*@

                    <div class="two_part">
                        <ul>
                            <li><a href="/NoticeBoard/Notices" class="imgicon"><img src="~/images/icons/1x/Icon_Notice_Normal.png"><img src="~/images/icons/1x/Icon_Notice_Hover.png">Notice</a></li>
                            <li><a href="/NoticeBoard/Advisory" class="imgicon"><img src="~/images/icons/1x/Icon_Advisory_Normal.png"><img src="~/images/icons/1x/Icon_Advisory_Hover.png">Advisory</a></li>
                            @*<li><a href="/NoticeBoard/SafetyCampaigns"><img src="~/images/3.png">Safety Campaigns</a></li>*@
                            <li><a href="/NoticeBoard/SafetyCampaigns" class="imgicon"><img src="~/images/icons/1x/Icon_campaign_Normal.png"><img src="~/images/icons/1x/Icon_campaign_Hover.png">Campaigns</a></li>

                            <li><a href="" class="imgicon"><img src="~/images/icons/1x/Icon_Alert_Normal.png"><img src="~/images/icons/1x/Icon_Alert_Hover.png">Safety Alert</a></li>
                            <li><a href="" class="imgicon"><img src="~/images/icons/1x/Icon_Circular_Normal.png"><img src="~/images/icons/1x/Icon_Circular_Hover.png">Circular</a></li>
                        </ul>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>

