
@{
    ViewBag.Title = "UserDashboard";
}

<style>
    /*  #mySidebar {
        width: 500px;
    }*/
    
</style>
<div class="">
    <div class="banner_div">
        @if (Session["Role"].ToString() == "ShipUser")
        {
            @*var path = "~/images/" + @Session["ShipName"].ToString() + ".jpg";
            <img src="@path">*@

            if (Session["ShipId"].ToString() == "1")
            {
                <img src="~/images/KHK Vision.jpg">
            }
            else if (Session["ShipId"].ToString() == "2")
            {
                <img src="~/images/KWK Excelsus.jpg">
            }
            else if (Session["ShipId"].ToString() == "3")
            {
                <img src="~/images/CSK Vanguard.jpg">
            }
            else if (Session["ShipId"].ToString() == "4")
            {
                <img src="~/images/CSK Valiant.jpg">
            }
            else if (Session["ShipId"].ToString() == "5")
            {
                <img src="~/images/CSK Endeavour.jpg">
            }
            else if (Session["ShipId"].ToString() == "6")
            {
                <img src="~/images/KHK Empress.jpg">
            }
            else if (Session["ShipId"].ToString() == "7")
            {
                <img src="~/images/KHK Majesty.jpg">
            }
        }
        else
        {
            <img src="~/images/ship.png">
        }
    </div>
    <div class="bnr_bottom_sec">
        <div class="row">

            <div class="col-lg-2 col-md-2 col-6">
                <div class="icon_box dropdown">
                    <div class="tooltip">
                        @*<span class="dropbtn">
            <img src="~/images/icons/2x/Vessel_Normal@2x.png">
            <img src="~/images/icons/2x/Vessel_Hover@2x.png">
        </span>*@
                        @*<span class="tooltiptext">Ship Specific Manuals & Plans</span>*@ @*-----this line replace with below condition-----*@

                        @*------A---------New Changed/Added on 16th Jun  2021 ---BK-- below condition-------------*@
                        @if (Session["Role"].ToString() == "ShipUser")
                        {
                            <a href='@Url.Action("ShipDashboard", "Dashboard", new { @id= Session["ShipId"].ToString() })'>

                                <span class="dropbtn">
                                    <img src="~/images/icons/2x/Vessel_Normal@2x.png">
                                    <img src="~/images/icons/2x/Vessel_Hover@2x.png">
                                </span>
                                <span class="tooltiptext">Ship Specific Manuals & Plans</span>

                            </a>

                        }
                        else
                        {
                            @Html.Action("ShipMenuLayout", "Dashboard")
                            <span class="dropbtn">
                                <img src="~/images/icons/2x/Vessel_Normal@2x.png">
                                <img src="~/images/icons/2x/Vessel_Hover@2x.png">
                            </span>
                            <a href="#"><span class="tooltiptext">Ship Specific Manuals & Plans</span></a>
                        }

                       

                    </div>
                    @*<div class="dropdown-content" style="min-width: 300px;  top: -300px;">
                            @Html.Action("ShipMenuLayout", "Dashboard")
                        </div>*@

                    @*@if (Session["Role"].ToString() == "ShipUser")
                    {
                        <a href="#">SMS Manuals</a>

                        <a href='@Url.Action("ShipDashboard", "Dashboard", new { @id= Session["ShipId"].ToString() })'>
                            Ship Specific Manuals & Plans

                        </a>

                    }
                    else
                    {
                        @Html.Action("ShipMenuLayout", "Dashboard")
                        <a href="#">Ship Specific Manuals & Plans</a>
                    }*@

                </div>
            </div>

            @*<div class="col-lg-2 col-md-2 col-6">
        <div class="icon_box">
            <span>  <img src="~/images/job.png"></span>
            <a href="#">Job Description</a>
        </div>
        </div>*@

            <div class="col-lg-2 col-md-2 col-6">
                <a href="@Url.Action("Index", "CommonToAllManual")">
                    <div class="icon_box dropdown">
                        <div class="tooltip">
                            <span class="dropbtn">
                                <img src="~/images/icons/2x/JobDescription_Normal@2x.png">
                                <img src="~/images/icons/2x/JobDescription_Hover@2x.png">
                            </span>
                            <span class="tooltiptext">Common Manuals & Plans</span>
                        </div>
                            <div class="dropdown-content">
                                @*<ul>
                                    <li><a href="#">Link 1</a></li>

                                    <li class="dropmenuright">
                                        <a href="#">Link 2</a>
                                        <ul class="dropdown-rightcontent">
                                            <li><a href="#">Link 2.1</a></li>
                                            <li>
                                                <a href="#">Link 2.2</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li><a href="#">Link 3</a></li>
                                </ul>*@
                            </div>

                            <!-- Common Manuals & Plans-->


                    </div>
</a>
            </div>

            @*<div class="col-lg-2 col-md-2 col-6">
        <div class="icon_box">
            <span> <img src="~/images/dcu_icon.png"></span>
            <a href="#">Reference Documents</a>
        </div>
        </div>*@
            <div class="col-lg-2 col-md-2 col-6">
                <a href="@Url.Action("Index", "ReferenceMaterials")">
                    <div class="icon_box dropdown">
                        <div class="tooltip">
                            <span class="dropbtn">
                                <img src="~/images/icons/2x/ReferenceDoc_Normal@2x.png" />
                                <img src="~/images/icons/2x/ReferenceDoc_Hover@2x.png" />
                            </span>
                            <span class="tooltiptext">Reference Material</span>
                        </div>
                            <div class="dropdown-content">
                                @*<ul>
                    <li><a href="#">Link 1</a></li>

                    <li class="dropmenuright">
                        <a href="#">Link 2</a>
                        <ul class="dropdown-rightcontent">
                            <li><a href="#">Link 2.1</a></li>
                            <li>
                                <a href="#">Link 2.2</a>
                            </li>
                        </ul>
                    </li>

                    <li><a href="#">Link 3</a></li>
                </ul>*@
                            </div>

                            <!-- Reference Material-->


                        </div>
</a>
            </div>







            <div class="col-lg-2 col-md-2 col-6">
                <a href="@Url.Action("RevisionDetails", "RevisionHistory")">
                    <div class="icon_box dropdown">
                        <div class="tooltip">
                            <span class="dropbtn">
                                <img src="~/images/icons/2x/Rivision_Normal@2x.png">
                                <img src="~/images/icons/2x/Rivision_Hover@2x.png">

                            </span>
                            <span class="tooltiptext">Revisions</span>
                        </div>
                        <div class="dropdown-content">
                        </div>
                        <!-- Revisions-->
                    </div>
                </a>
            </div>





            @*<div class="col-lg-2 col-md-2 col-6">
            <div class="icon_box dropdown">
                <span class="dropbtn">
                    <img src="~/images/dcu_icon.png">
                </span>
                <div class="dropdown-content" style="min-width: 300px;  top: -250px;">
                    <ul>
                        <li><a href="@Url.Action("ListOfAdministrationMmanagementForms", "Forms")">LIST OF ADMINISTRATION & MANAGEMENT FORMS</a></li>
                        <li><a href="@Url.Action("ListOfMmanagementOfShipPersonalForms", "Forms")">LIST OF MANAGEMENT OF SHIP PERSONNEL FORMS</a></li>
                        <li><a href="@Url.Action("ListOfMaintenanceFroms", "Forms")">LIST OF MAINTENANCE FORMS</a></li>
                        <li><a href="@Url.Action("NavigationMmanagementForms", "Forms")">NAVIGATION MANAGEMENT FORMS</a></li>
                        <li><a href="@Url.Action("SafetyMmanagementForms", "Forms")">SAFETY MANAGEMENT FORMS</a></li>
                    </ul>
                </div>

                <a href="#">Forms</a>

            </div>
        </div>*@





            @*<div class="col-lg-5 col-md-5 col-12">
            <div class="left_bo">
                <div class="one_part">
                    <img src="~/images/board.png">
                    <a href="#">Notice Board</a>
                </div>
                <div class="two_part">
                    <ul>
                        <li><a href="#"><img src="~/images/1.png">Bulletins</a></li>
                        <li><a href="#"><img src="~/images/2.png">Circulars</a></li>
                        <li><a href="#"><img src="~/images/3.png">Instructions</a></li>
                    </ul>
                </div>
            </div>
        </div>*@



            <div class="col-lg-4 col-md-4 col-12">
                <div class="left_bo dropdown">
                    <span class="one_part ">
                        <img src="~/images/board.png">
                        Notice Board
                    </span>

                    @*---------------------------------------------*@

                    @*<span class="one_part dropbtn">
                        <span class="dropbtn">
                            <img src="~/images/icons/2x/Icon_Notice_Normal@2x.png">
                            <img src="~/images/icons/2x/Icon_Notice_Hover@2x.png">
                        </span>
                        <a href="#">Notice Board</a>
                    </span>*@
                    @*---------------------------------------------*@
                    @*<div class="dropdown-content">
            <ul>
                <li><a href="#">Link 1</a></li>

                <li class="dropmenuright">
                    <a href="#">Link 2</a>
                    <ul class="dropdown-rightcontent">
                        <li><a href="#">Link 2.1</a></li>
                        <li>
                            <a href="#">Link 2.2</a>
                        </li>
                    </ul>
                </li>

                <li><a href="#">Link 3</a></li>
            </ul>
        </div>*@

                    <div class="two_part">
                        <ul>
                            <li><a href="/NoticeBoard/Notices" class="imgicon"><img src="~/images/icons/1x/Icon_Notice_Normal.png"><img src="~/images/icons/1x/Icon_Notice_Hover.png">Notice</a></li>
                            <li><a href="/NoticeBoard/Advisory" class="imgicon"><img src="~/images/icons/1x/Icon_Advisory_Normal.png"><img src="~/images/icons/1x/Icon_Advisory_Hover.png">Advisory</a></li>
                            @*<li><a href="/NoticeBoard/SafetyCampaigns"><img src="~/images/3.png">Safety Campaigns</a></li>*@
                            <li><a href="/NoticeBoard/SafetyCampaigns" class="imgicon"><img src="~/images/icons/1x/Icon_campaign_Normal.png"><img src="~/images/icons/1x/Icon_campaign_Hover.png">Campaigns</a></li>

                            <li><a href="" class="imgicon"><img src="~/images/icons/1x/Icon_Alert_Normal.png"><img src="~/images/icons/1x/Icon_Alert_Hover.png">Safety Alert</a></li>
                            <li><a href="" class="imgicon"><img src="~/images/icons/1x/Icon_Circular_Normal.png"><img src="~/images/icons/1x/Icon_Circular_Hover.png">Circular</a></li>
                        </ul>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>