@model TCCCMS.Models.UserMasterPOCO

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
@Styles.Render("~/Content/jqueryui/css")

@section Styles{
    <style type="text/css">
        #tabs ul li {
            /*background-color: #e90000 !important;*/
            border-radius: 10px 10px 0 0 !important;
        }

        #tabs .ui-state-active {
            background: #e90000 !important;
        }
    </style>

    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

            .slider.round:before {
                border-radius: 50%;
            }
    </style>
}
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
@*<script src="~/Scripts/notify.min.js"></script>
    <link href="~/Content/notify.css" rel="stylesheet" />*@
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />

<link href="~/DataTables/datatables.min.css" rel="stylesheet" />

<script src="~/DataTables/datatables.min.js"></script>

<link href="~/Content/toastr.min.css" rel="stylesheet" />
<script src="~/Scripts/toastr.js"></script>

@Html.Hidden("loaddata", @Url.Action("LoadData", "UserMaster"))
@Html.Hidden("SaveUpdateUser", @Url.Action("SaveUpdateUser", "UserMaster"))

@Html.Hidden("DeleteUserMaster", @Url.Action("DeleteUserMaster", "UserMaster"))
@Html.Hidden("UploadPermissionUserMaster", @Url.Action("UploadPermissionUserMaster", "UserMaster"))

@Html.Hidden("GetUserByUserId", @Url.Action("GetUserByUserId", "UserMaster"))
@Html.Hidden("urlGetIMOByShip", @Url.Action("GetIMONumberByShip", "UserMaster"))
@Html.Hidden("urlGenerateCode", @Url.Action("GenerateUserCode", "UserMaster"))

@Html.Hidden("ApprovedRoNotInUserMaster", @Url.Action("ApprovedRoNotInUserMaster", "UserMaster"))

<body>
    <div class="row">
        <div class="col-md-3">
            <h2 class="ta">Users </h2>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-8 bac1">

                    <div style="margin:0 auto" class="tablecontainer">
                        <button type="button" class="btn btn-info btn-sm" style="background-color: #e90000;" data-toggle="modal" data-target="#myModal" onclick="clearTextBox(); LoadTab()">Add User</button>
                        <a type="button" class="btn btn-info btn-sm" style="background-color: #6AA84F; width: 130px;" href='@Url.Action("Index", "Import")'><span>Import Users</span></a>  <br /><br />

                        <input type="hidden" id="hdnrole" />
                        <table id="UserMasterTable" class="display" cellspacing="0">
                            <thead>
                                <tr>
                                    @*<th>User Name</th>

                                        <th>Email</th>
                                        <th>Gender</th>
                                        <th>Vessel IMO</th>
                                        <th>Rank Name</th>
                                        <th>Ship Name</th>

                                        <th>Edit</th>
                                        <th>Delete</th>*@
                                </tr>
                            </thead>
                        </table>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header" style="background-color: #e90000;">
                                    <h4 class="modal-title">Add User</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <div class="form-group">
                                    <input type="hidden" id="UserId" value="0" />
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <div id="tabs">
                                            <input type="hidden" id="tab" />
                                            <ul>
                                                <li id="liTab1"><a href="#tabs-1">Ship User</a></li>
                                                <li id="liTab2"><a href="#tabs-2">Company User</a></li>

                                            </ul>

                                            <div id="tabs-1">
                                                <div class="row">
                                                    <div class="col-sm-12 col-xs-12">
                                                        <div class="card">
                                                            <div class="col-sm-12 col-xs-12 marginTP10">
                                                                <div class="row">
                                                                    <div class="col-sm-6 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label for="Ship">Ship</label>
                                                                            @Html.DropDownListFor(model => model.ShipId, (IEnumerable<SelectListItem>)ViewBag.Ships, "Select", new { @class = "form-control", onchange = "GetIMONumberByShip(this.value)" })
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label for="VesselIMO">IMO Number</label>
                                                                            <input type="number" class="form-control" id="VesselIMO" placeholder="Vessel IMO" disabled />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label for="Rank">Rank</label>
                                                                            @Html.DropDownListFor(model => model.RankId, (IEnumerable<SelectListItem>)ViewBag.Ranks, "Select", new { @class = "form-control", onchange = "GetuUserCode()" })
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label for="UserCode">User Code</label>
                                                                            <input type="text" class="form-control" id="UserCode" placeholder="UserCode" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label for="Email">Email</label>
                                                                            <input type="email" class="form-control" id="Email" placeholder="Email" onblur="return CheckEmail(this.value)" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label for="UserName">User Name</label>
                                                                            <input type="text" class="form-control" id="UserName" placeholder="User Name" />
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-sm-6 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label for="Gender">Gender</label>

                                                                            <select name="Gender" class="form-control" id="Gender">
                                                                                <option value="">Select</option>
                                                                                <option value="M">M</option>
                                                                                <option value="F">F</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label for="Password">Password</label>
                                                                            <input type="password" class="form-control" id="Password" placeholder="Password" name="your_pass" value="" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label for="ConfirmPassword">Confirm Password</label>
                                                                            <input type="password" class="form-control" id="ConfirmPassword" placeholder="Confirm Password" name="your_c_pass" value="" onblur="confirmPass()" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label for="User Role">User Role</label>

                                                                            <select name="UserRole" class="form-control" id="drpUserRole">
                                                                                <option value="">Select</option>
                                                                                <option value="4">ShipAdmin</option>
                                                                                <option value="5">ShipUser</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    @*<div class="col-sm-6 col-xs-12">
                                                                            <div class="form-group">
                                                                                <label for="IsAdmin" style="padding:0;">Is Admin</label>
                                                                                <input id="IsAdmin" type="checkbox" />
                                                                            </div>
                                                                        </div>*@

                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                            </div>
                                            <div id="tabs-2">
                                                <div class="row">
                                                    <div class="col-sm-12 col-xs-12">
                                                        <div class="card">
                                                            <div class="col-sm-12 col-xs-12 marginTP10">
                                                                <div class="row">

                                                                    <div class="col-sm-6 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label for="UserName">User Name</label>
                                                                            <input type="text" class="form-control" id="cUserName" placeholder="User Name" onblur="GetuUserCode()" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label for="UserCode">User Code</label>
                                                                            <input type="text" class="form-control" id="cUserCode" placeholder="cUserCode" />
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-sm-6 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label for="Email">Email</label>
                                                                            <input type="email" class="form-control" id="cEmail" placeholder="Email" onblur="return CheckEmail(this.value)" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label for="Gender">Gender</label>

                                                                            <select name="Gender" class="form-control" id="cGender">
                                                                                <option value="">Select</option>
                                                                                <option value="M">M</option>
                                                                                <option value="F">F</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label for="Password">Password</label>
                                                                            <input type="password" class="form-control" id="cPassword" placeholder="Password" name="your_pass" value="1234" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label for="ConfirmPassword">Confirm Password</label>
                                                                            <input type="password" class="form-control" id="cConfirmPassword" placeholder="Confirm Password" name="your_c_pass" value="1234" onblur="confirmPass()" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label for="User Role">User Role</label>

                                                                            <select name="UserRole" class="form-control" id="drpCompanyRole">
                                                                                <option value="">Select</option>
                                                                                <option value="1">Office Admin</option>
                                                                                <option value="2">Office User</option>
                                                                                <option value="4">Ship Admin</option>
                                                                                <option value="5">Ship User</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    @*<div class="col-sm-6 col-xs-12">
                                                                            <div class="form-group">
                                                                                <label for="IsAdmin" style="padding:0;">Is Admin</label>
                                                                                <input id="cIsAdmin" type="checkbox" />
                                                                            </div>
                                                                        </div>*@

                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>

                                @*-----------------*@
                                @*<div class="modal-body">


                                        <div class="form-group">
                                            <label for="Rank">Rank</label>
                                            @Html.DropDownListFor(model => model.RankId, (IEnumerable<SelectListItem>)ViewBag.Ranks, "Select", new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label for="Ship">Ship</label>
                                            @Html.DropDownListFor(model => model.ShipId, (IEnumerable<SelectListItem>)ViewBag.Ships, "Select", new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label for="UserName">User Name</label>
                                            <input type="text" class="form-control" id="UserName" placeholder="User Name" />
                                        </div>

                                        <div class="form-group">
                                            <label for="UserCode">User Code</label>
                                            <input type="text" class="form-control" id="UserCode" placeholder="UserCode" disabled />
                                        </div>

                                        <div class="form-group">
                                            <label for="Password">Password</label>
                                            <input type="password" class="form-control" id="Password" placeholder="Password" name="your_pass" value="" />
                                        </div>
                                        <div class="form-group">
                                            <label for="ConfirmPassword">Confirm Password</label>
                                            <input type="password" class="form-control" id="ConfirmPassword" placeholder="Confirm Password" name="your_c_pass" value="" onblur="confirmPass()" />
                                        </div>
                                        <div class="form-group">
                                            <label for="Email">Email</label>
                                            <input type="email" class="form-control" id="Email" placeholder="Email" />
                                        </div>

                                        <div class="form-group">
                                            <label for="Gender">Gender</label>

                                            <select name="Gender" class="form-control" id="Gender">
                                                <option value="">Select</option>
                                                <option value="M">M</option>
                                                <option value="F">F</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="VesselIMO">Vessel IMO</label>
                                            <input type="number" class="form-control" id="VesselIMO" placeholder="Vessel IMO" />
                                        </div>


                                        <div class="form-group">
                                            <label for="IsAdmin" style="padding:0;">Is Admin</label>
                                            <input id="IsAdmin" type="checkbox" />
                                        </div>

                                    </div>*@





                                <div class="modal-footer" style="background-color:lightgray;">
                                    <button type="button" class="btn btn-info btn-sm" id="btnAdd" style="background-color: #e90000; width:138px;" onclick="return SaveUpdateUser();">Add</button>
                                    <button type="button" class="btn btn-info btn-sm" id="btnUpdate" style="background-color: #e90000; display: none; width: 86px;" onclick="SaveUpdateUser();">Update</button>
                                    <button type="button" class="btn btn-info btn-sm" style="background-color: #e90000;" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


<script type="text/javascript">
    //function confirmPass() {
    //    var pass = "";
    //    var confPass = "";
    //    if (selected_tab === 0) {
    //        pass = document.getElementById("Password").value
    //        confPass = document.getElementById("ConfirmPassword").value
    //        if (pass != confPass) {
    //            alert('Wrong confirm password !');
    //        }
    //    }
    //    else if (selected_tab === 1) {
    //        pass = document.getElementById("cPassword").value
    //        confPass = document.getElementById("cConfirmPassword").value
    //        if (pass != confPass) {
    //            alert('Wrong confirm password !');
    //        }
    //    }

    //}
</script>

@section Scripts{

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script src="~/Scripts/UserMaster.js"></script>

    <script>
        $(document).ready(function () {
            //var selected_tab = 0;
            //$('#example').DataTable();
            //SetUpGridShipUser();
            CreateTableHeader(userType)
            LoadTab();
            $('#tabs').click('tabsselect', function (event, ui) {

                selected_tab = $("#tabs").tabs('option', 'active');
                //var id = $('#Id').val();
                //alert("tab clicked");

            });

        });
    </script>
}
