@model TCCCMS.Models.UserMasterPOCO

@{
    ViewBag.Title = "ChangePassword";
    //Layout = "~/Views/Shared/Admin_Layout.cshtml";
    Layout = null;
}

@*<h2>AdminDashboard</h2>*@

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tcc</title>
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/stellarnav.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
    <link href="~/css/owl.carousel.css" rel="stylesheet">
    <link href="~/css/owl.theme.default.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <style>
        .layouttwo ul {
        }

            .layouttwo ul li {
            }

                .layouttwo ul li a {
                    text-align: left;
                    font-size: 19px;
                    padding: 17px 31px 0 9%; /* width: 261px; */
                }

        .wel {
            margin: 30px auto;
            text-align: center;
            width: 307px;
            background: #e90000;
            color: #fff;
            padding: 20px 0;
            border-radius: 11px;
        }

            .wel h4 {
                border-bottom: 1px solid #eee;
                padding: 0 0 13px 0;
            }

            .wel h5 {
                font-weight: 400;
                text-align: left;
                padding: 19px;
            }

            .wel h6 {
                margin: 57% 10px 0;
                text-align: center;
            }

        .card {
            background: #3f4042;
            border-radius: 9px;
            padding: 20px;
            width: 245px;
            margin: 20px auto;
        }

            .card h6 {
                color: #fff;
                font-size: 22px;
                padding: 12px 0 0;
            }

                .card h6 span {
                    display: block;
                }

            .card img { /* width: 20px; */
            }

        .steps {
            padding: 0;
        }

        .sidebar {
            width: 0;
        }
    </style>
</head>
@Html.Hidden("changePwd", @Url.Action("ChangePassword", "Home"))
@using (Html.BeginForm())
{
    <body>


        <section class="full_body">
            <div class="content_body" style="width: 100%;">
                <div class="wel" style="background: #e9000000;">
                    @*<h4>Welcome To TCCDOC</h4>
                        <h5>Hello Admin</h5>
                        <h6>
                            We Pledge to Serve
                            <span>support@technology.com</span>
                        </h6>*@

                    <div style="background-color:#eee;text-align:left; padding:20px; height:450px;" class="rightbox">
                        <div style="background-color: #ffffff; border-radius: 25px; padding: 15px; color: #120c0c;">
                            <form>
                                <div class="form-group">
                                    <input type="hidden" id="UserId" />
                                </div>
                                <div>
                                    <div style="display:contents" class="mobilbottom">
                                        <span style="display:inline;" class="sitxt">Change Password</span>

                                    </div>

                                </div>
                                <div class="clearfix"></div><div class="clearfix"></div>
                                @*<em id="errm" hidden style="text-emphasis-color:red; font-size:8.5px;">** Invalid User or Password</em>*@
                            <div class="form-group">
                                <label>Old Password</label>
                                @if (@Model.hasChange == 2)
                                {
                                    <em id="errm" style="text-emphasis-color:red; font-size:8.5px;">** Invalid User or Password</em>
                                }

                                @*@Html.PasswordFor(a => a.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Password)*@
                                @Html.PasswordFor(a => a.Password, new { @class = "form-control", @id = "OldPassword", @placeholder = "Old Password" })
                                @*<input class="form-control" type="password" placeholder="Old Password" id="OldPassword" required>*@
                            </div>

                                @*<div class="form-group">
                                        <label>New Password</label>
                                        @Html.PasswordFor(a => a.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(a => a.Password)
                                    </div>
                                    <div class="form-group">
                                        <label>Confirm Password</label>
                                        @Html.PasswordFor(a => a.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(a => a.Password)
                                    </div>*@
                                <form class="pure-form">
                                    <div class="form-group">
                                        <label>New Password</label>
                                        @Html.PasswordFor(a => a.NewPassword, new { @class = "form-control", @id = "NewPassword", @placeholder = "New Password" })
                                        @*<input class="form-control" type="password" placeholder="New Password" id="NewPassword" required>*@
                                    </div>
                                    <div class="form-group">
                                        <label>Confirm Password</label>
                                        <input class="form-control" type="password" placeholder="Confirm Password" id="ConfirmPassword" required>
                                    </div>
                                    &nbsp;
                                    <div class="signup_btn">
                                        @*<input type="button" class="pure-button pure-button-primary" style="background: #c83a3a; border: 0; color: #fff; padding: 10px 33px !important; border-radius: 10px; font-size: 15px; width: 120px; height:40px; margin: 0 0 19px 0;" id="btnAdd" value="Submit" onclick="ChangePassword();" />*@
                                        <input type="submit" class="pure-button pure-button-primary" style="background: #c83a3a; border: 0; color: #fff; padding: 10px 33px !important; border-radius: 10px; font-size: 15px; width: 120px; height:40px; margin: 0 0 19px 0;" id="btnAdd" value="Submit"  />
                                    </div>
                                </form>

                                <div class="clearfix"></div>

                            </form>

                        </div>


                    </div>



                    <div class="clearfix"></div>

                </div>
            </div>



        </section>

        <script src="~/js/jquery.js"></script>
        <script src="~/js/bootstrap.js"></script>
        <script src="~/js/stellarnav.js"></script>
        <script src="~/js/owl.carousel.js"></script>
        <script src="~/js/theme.js"></script>
        <script src="~/js/wow.min.js"></script>
        <script src="~/js/jquery.slimscroll.js"></script>
        <script src="~/Scripts/ChangePassword.js"></script>

        <script>
            wow = new WOW({
                animateClass: 'animated',
                offset: 100
            });
            wow.init();


            jQuery(document).ready(function ($) {
                jQuery('.stellarnav').stellarNav({
                    theme: 'light'
                });
                jQuery('.stellarnav li').addClass('drop-left');
            });
        </script>
        <script>
            $(document).ready(function () {

                $('#menuicon').click(function () {
                    $('#menu_sec').toggleClass('hidden');
                    $('.content_body').toggleClass('wdth_chn');
                    $('#menuicon').toggleClass('show');

                });
            });
        </script>




        <script>
            var password = document.getElementById("NewPassword")
                , confirm_password = document.getElementById("ConfirmPassword");

            function validatePassword() {
                if (password.value != confirm_password.value) {
                    confirm_password.setCustomValidity("Passwords Don't Match");
                } else {
                    confirm_password.setCustomValidity('');
                }
            }

            password.onchange = validatePassword;
            confirm_password.onkeyup = validatePassword;
        </script>

    </body>
}
