@model TCCCMS.Models.ShipViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

@section Styles{
    <link href="~/Scripts/highlight/css/default.css" rel="stylesheet" />
    @*<link href="~/DataTables/datatables.min.css" rel="stylesheet" />*@

}
@Html.Hidden("loaddata", @Url.Action("LoadData", "Ship"))
@Html.Hidden("urlSaveDetails", @Url.Action("SaveShip", "Ship"))
@Html.Hidden("urlGetShipById", @Url.Action("GetShipById", "Ship"))
@Html.Hidden("urlLoadVesselSubType", @Url.Action("GetVesselSubTypeByVesselTypeForDopDown", "Ship"))
@Html.Hidden("urlLoadVesselSubSubType", @Url.Action("GetVesselSubSubTypeByVesselSubTypeForDropdown", "Ship"))
<link href="~/DataTables/datatables.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/DataTables/datatables.min.js"></script>
@*<script src="~/Scripts/bootstrap.js"></script>*@
<div class="row">
    <div class="col-sm-3 col-xs-12">
        <h2 class="ta">Ship List</h2>
    </div>
    <div class="col-sm-9 col-xs-12  ">
        <div class="row">
            <div class="card marginTP10">
                <div class="card-header">
                    <label>Ships List</label>
                </div>
                <div class="card-body">
                    <div style="margin:0 auto" class="tablecontainer">
                        <button type="button" class="btn btn-info btn-sm" style="background-color: #e90000;" data-toggle="modal" data-target="#myModal" onclick="clearTextBox()">Register New Ship</button><br /><br />
                        <input type="hidden" id="hdnrole" />
                        <table id="shipsTable" class="display" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>Ship Name</th>
                                    <th>Flag</th>
                                    <th>IMO Number</th>

                                    <th>Edit</th>
                                    @*<th>Delete</th>*@
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-xl">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #e90000;">
                            <h4 class="modal-title colorWhite">Register Ship</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>


                        <div class="modal-body">
                            @*<form>*@
                            <div class="form-group">
                                <input type="hidden" id="ID" />
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="">
                                            <div class="col-sm-12 col-xs-12 marginTP10">
                                                <div class="row">
                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label for="VesselType">Vessel Type</label>
                                                            @Html.DropDownList("vesselTypeList", (IEnumerable<SelectListItem>)ViewBag.VesselType, new { @id = "ddlVesselType", @class = "form-control", onchange = "GetVesselSubTypeByTypeForDropdown(this.value)" })
                                                            @*<select id="VesselTypeID" name="VesselTypeID" class="form-control"></select>*@
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label for="VesselSubType">Vessel Sub Type</label>
                                                            <select id="ddlVesselSubType" name="VesselSubType" class="form-control" disabled></select>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label for="VesselSubSubType">Vessel Sub Sub Type</label>
                                                            <select id="ddlVesselSubSubType" name="VesselSubSubType" class="form-control" disabled></select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label for="ShipName">Ship Name</label>
                                                            <input type="text" class="form-control" id="ShipName" placeholder="Ship Name" />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label for=" Flag">Flag</label>
                                                            <input type="text" class="form-control" id="Flag" placeholder="Flag" />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label for="IMO Number">IMO Number</label>
                                                            <input type="text" maxlength="7" class="form-control" id="IMONumber" placeholder="IMO Number" onkeypress=" return CharCheck(event,1)" />
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-xs-12 marginTP10">
                                    <div class="card">
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="row">
                                                <div class="col-sm-12 col-xs-12 marginBTM10 marginTP10">
                                                    <h5>Communications Resources</h5>
                                                </div>
                                                <div class="col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="Email">Email</label>
                                                        <input type="text" class="form-control marginBTM10" id="Email1" placeholder="Email 1" />
                                                        <input type="text" class="form-control" id="Email2" placeholder="Email 2" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="Voice">Voice</label>
                                                        <input type="text" class="form-control marginBTM10" id="Voice1" placeholder="Voice 1" />
                                                        <input type="text" class="form-control" id="Voice2" placeholder="Voice 2" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="Fax">Fax</label>
                                                        <input type="text" class="form-control marginBTM10" id="Fax1" placeholder="Fax 1" />
                                                        <input type="text" class="form-control" id="Fax2" placeholder="Fax 2" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="Video Call">Video Call(VOIP)</label>
                                                        <input type="text" class="form-control marginBTM10" id="VideoCall1" placeholder="Video Call 1" />
                                                        <input type="text" class="form-control" id="VideoCall2" placeholder="Video Call 2" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="Mobile">Mobile</label>
                                                        <input type="text" class="form-control marginBTM10" id="Mobile1" placeholder="Mobile 1" />
                                                        <input type="text" class="form-control" id="Mobile2" placeholder="Mobile 2" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*</form>*@

                        </div>


                        <div class="modal-footer" style="background-color:lightgray;">
                            <button type="button" class="btn btn-info btn-sm" style="background-color: #e90000; width:138px;" id="btnAdd" onclick="return SaveShipDetails();">Add</button>
                            <button type="button" class="btn btn-info btn-sm" id="btnUpdate" style="background-color: #e90000; display: none; width: 86px;" onclick="SaveShipDetails();">Update</button>
                            <button type="button" class="btn btn-info btn-sm" style="background-color: #e90000;" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts{
    @*<script src="~/Scripts/jquery-3.5.1.min.js"></script>
        <script src="~/DataTables/datatables.min.js"></script>*@
    <script src="~/js/Ship/Ship.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            SetUpGrid();
        });
        $('#ddlVesselType').on('change', function () {
            $('#ddlVesselSubType').prop('disabled', false);
        });
        $('#ddlVesselSubType').on('change', function () {
            //alert($('option:selected', this).text());

            var VesselSubTypeID = $('#ddlVesselSubType').val();

            GetVesselSubSubTypeByVesselSubTypeForDropdown(VesselSubTypeID);
            $('#ddlVesselSubSubType').prop('disabled', false);

        });
    </script>

}
