@model TCCCMS.Models.RevisionHeaderHistoryViewModel
@{
    ViewBag.Title = "RevisionDetails";
}
@section Styles{
    <link href="~/css/TccAccordian.css" rel="stylesheet" />
    <script src="~/js/UserMaster/Revision.js"></script>
}
<h2>RevisionDetails</h2>

<div class="body marginTP10">

    <div class="container marginTP10">
        @foreach (var header in Model.RevisionHeaderList)
        {
            <div class="container body-content">
                <button type="button" class="button1 float-right" id="btnPrint" onclick="PrintRevisionDetailsHtml('',@header.Id);"><img src="/images/PrintLogo2.jpg" /></button>
                @*<button type="button" class="button1 float-right" id="btnPrint"  onclick="PrintHtml('');">print</button>*@
            </div>
            <div id="RevisionDetails_@header.Id" class="container">
                <button class="accordion" onclick="SaveRevisionViewer(@header.Id); GetViewersByRevision(@header.Id);">
                    @header.RevisionNo @if (@header.RevisionDate != null)
                    {@header.RevisionDate}
                </button>
                <div class="panel marginTP10">
                    <div class="row">

                        <div class="col-sm-12 col-xs-12 marginTP10">
                            <h2 class="ta">Revision History </h2>
                            <div class="row">
                                <div class="col-md-12 bac1">

                                    <div style="margin:0 auto" class="tablecontainer">
                                        <input type="hidden" id="hdnrole" />
                                        <table id="RevisionHistoryTable" class="display table" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    @*<th>Volume Name</th>
                                                        <th style="border-left:solid 1px; border-right:solid 1px;">Manual Name</th>
                                                        <th>Change Comment</th>*@
                                                    <th>Volume / Plan</th>
                                                    <th style="border-left:solid 1px; border-right:solid 1px;">Section</th>
                                                    <th>Change in content</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in header.RevisionHistoryList)
                                                {
                                                    <tr>
                                                        <td>@item.Chapter</td>
                                                        @*<td style="border-left:solid 1px; border-right:solid 1px;">@item.Section</td>*@
                                                        <td style="border-left:solid 1px; border-right:solid 1px;"> @Html.Raw(item.Section)</td>
                                                        <td>@item.ChangeComment</td>
                                                    </tr>


                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div id="divViewer_@header.Id">
                        </div>
                    </div>

                </div>
            </div>

        }


    </div>
</div>


@section Scripts{

    <script type="text/javascript">
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }


    </script>

}

